.aAddProg.instructors-popup__content {
   height: 100%;
   .instructors-popup {
      &__label {
         color: var(--white-s);
      }
      &__input {
         background: var(--black-p);
      }
      &__form-button {
         margin: 6px 0;
         background: var(--black-p);
         &--save {
            background: #9af07f;
            color: #0d3700;
         }
         &--accent {
            background: var(--accent-l);
            color: var(--accent-d);
         }
         &--cancel {
            margin: 0;
         }
         &.reservation-flag-btn {
            margin: 0;
         }
      }

      &__list-wrapper {
         position: relative;
         overflow: hidden;
         position: relative;
         flex-grow: 1;
         margin-top: -50px;
      }
      &__list-items {
         mask-image: linear-gradient(
            to top,
            #000,
            #000,
            #000,
            #000,
            #000,
            #000,
            #000,
            #000,
            #000,
            #000,
            #000,
            #000,
            #000,
            #000,
            rgba(0, 0, 0, 0)
         );
         &::-webkit-scrollbar {
            display: none;
         }
         position: absolute;
         height: calc(100% - 38px);
         width: 100%;
         overflow-y: auto;
         //background: red;
         display: grid;
         padding: 50px 0 24px 0;
         grid-template-columns: 1fr 1fr;
         grid-auto-rows: min-content;
         gap: 6px;
         &::-webkit-scrollbar {
            display: none;
         }
         scrollbar-width: none;
         -ms-overflow-style: none;
      }
      &__item {
      }
   }

   .picker__row {
      button {
         width: 100%;
      }
   }
   .picker__list {
      //background: #000;
   }
}
.saddprogramari__info {
   color: var(--white-p);
   font-weight: 400;
   text-align: center;
   b {
      font-weight: 400;
   }
}
