
.saddprogramari {
   &__selector {
      display: grid;
      gap: 6px;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
   }

   &__calendar {
      // stiluri pentru calendar
      gap: 6px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      border-radius: 25px;
      color: var(--white-p);
   }

   &__datepicker {
      // dacă vrei să modifici stilurile din datepicker
   }

   &__times {
      color: var(--white-p) !important;
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 5px;
   }

   &__times-list {
      display: flex;
      flex-direction: column;
      gap: 6px;
   }
   //.rbc-btn-group button
   &__time-btn {
      border: 0;
      background: var(--black-s);
      color: var(--white-s);
      border-radius: 25px;
      padding: 17px 20px;
      transition: var(--classic-s);
      box-shadow: none;
      font-weight: 500;
      //margin: 0 ;
      &:hover {
         transition: all var(--elastic-s), background var(--classic-s);
         color: var(--accent-l);
         border-radius: 16px;
         padding: 18px 22px;
         margin: -1px 0;
      }
      &:active {
         transition: all var(--elastic-s), background var(--classic-s);
         transform: scale(0.93);
         margin: 0;
         padding: 17px 20px;
         border-radius: 32px;
      }

      &--selected {
         background-color: var(--accent-l);
         color: var(--accent-d);
         &:hover {
            color: var(--accent-d);
         }
      }
      &--disabled {
         cursor: not-allowed;
         opacity: 0.6;
         &:hover {
            color: var(--white-s);
            border-radius: 32px;
            padding: 17px 20px;
            margin: 0;
         }
      }
   }

   &__add-btn {
      background: var(--accent-l);
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 32px;
      cursor: pointer;
      gap: 0px;
      transition: var(--classic-s);
      margin: 0;
      font-weight: 500;
      &-icon > div {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      span {
         padding: 7px 14px 7px 0;
         color: var(--accent-d); // implicit
         transition: var(--classic-s);
      }
      svg {
         transition: var(--classic-s);
         color: var(--accent-d);
      }
      &.arrow {
         //align-self: center;
         span {
            padding: 7px 0 7px 14px;
         }
         svg {
            transform: rotate(180deg);
         }
      }
      &:hover {
         transition: var(--elastic-s);
         border-radius: 16px;
         padding: 9px 10px;
         margin: -1px 0;
         svg {
            transition: var(--elastic-s);
         }
      }

      &:active {
         transform: scale(0.95);
         margin: 0;
         border-radius: 32px;
         padding: 8px;
         transition: var(--elastic-s);
         svg {
            transition: var(--elastic-s);
         }
      }

      &:disabled {
         filter: grayscale(100);
         opacity: 0.6;
         //background: var(--accent-t);
         cursor: not-allowed;
         &:hover {
            margin: 0;
            padding: 8px;
            border-radius: 32px;
         }
         &:active {
            transform: scale(1);
         }
      }
   }
   &__added {
      margin-top: 16px;
      color: var(--white-p);
   }

   &__added-list {
      list-style: disc inside;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(1fr);
      gap: 8px;
      padding-left: 0;
      margin: 0.5rem 0;
   }

   &__added-item {
      background: var(--black-s);
      border-radius: 16px;
      padding: 16px;
   }

   &__send-btn {
      margin-top: 1rem;
      padding: 0.75rem 1.5rem;
      background-color: #2563eb;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:disabled {
         background-color: #ccc;
         cursor: not-allowed;
      }
   }
}

.react-datepicker {
   // container principal
   position: relative;
   width: 100%;
   background: var(--black-s) !important;
   border: 0px !important;
   border-radius: 23px !important;
   font-family: "lexend" !important;
   &__aria-live {
      // pentru screen readers
      width: 100%;
   }

   &__navigation-icon {
      //padding: 8px !important;
      color: var(--accent-d) !important;
      position: relative;
      left: -2px !important;
      top: 2.5px !important;
      &::before {
         border-color: var(--white-p) !important;
         border-width: 1.7px 1.7px 0 0 !important;
      }
      &--previous {
         // săgeată înapoi
         left: 2px !important;
      }

      &--next {
         // săgeată înainte
      }
   }

   &__month-container {
      width: 100%;
      // containerul lunii
   }

   &__header {
      // bara de sus (cu luna curentă)
      background: transparent !important;
      border: 0px !important;
      //border-radius: 22px !important;
      //width: calc(100% - 6px);
      //margin: 3px;
   }

   &__current-month {
      // textul cu luna curentă (ex. Iulie 2025)
      color: var(--white-p) !important;
      line-height: 1;
   }

   &__header__dropdown {
      width: 100% !important;
      // dropdown pentru lună/an
      &--scroll {
         // mod scroll
      }
   }

   &__day-names {
      // wrapper zile (Su Mo Tu ...)
      width: 100% !important;
      display: grid;
      gap: 3px !important;
      padding: 6px 10px 0px 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   }

   &__day-name {
      color: var(--white-p) !important;
      // fiecare zi din antet
   }

   &__month {
      width: 100% !important;
      margin: 0 !important;
      padding: 0px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 3px !important;
   }

   &__week {
      width: 100% !important;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 3px !important;
      // un rând de 7 zile
   }

   &__day {
      // fiecare zi
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
      border-radius: 20px !important;
      transition: var(--classic-f) !important;
      font-family: "lexend" !important;
      color: var(--white-s) !important;
      &:hover {
         background: var(--black-p) !important;
      }
      &:active {
         scale: 0.9;
      }

      &--weekend {
         // zile de weekend
      }

      &--outside-month {
         // zile în afara lunii afișate
      }

      &--today {
         // ziua curentă
         background: transparent !important;
      }

      &--selected {
         // zi selectată
         background: var(--accent-t) !important;
         color: var(--accent-l) !important;
         &:hover {
            background: var(--accent-t) !important;
            color: var(--accent-l) !important;
         }
      }

      &--keyboard-selected,
      &--keyboard-selected:hover {
         background: var(--black-s) !important;
         color: var(--white-s) !important;
      }

      // zile numerotate: .react-datepicker__day--001 până la --031
      // le poți stiliza generic:
      &--001,
      &--002,
      &--003,
      &--004,
      &--005,
      &--006,
      &--007,
      &--008,
      &--009,
      &--010,
      &--011,
      &--012,
      &--013,
      &--014,
      &--015,
      &--016,
      &--017,
      &--018,
      &--019,
      &--020,
      &--021,
      &--022,
      &--023,
      &--024,
      &--025,
      &--026,
      &--027,
      &--028,
      &--029,
      &--030,
      &--031 {
         // zile calendar numerotate
      }
   }
}