.instructors-popup {
   //height: 100%;
   //display: flex;
   //flex-direction: column;
   &__content {
      flex: 1;
      display: flex;
      height: 100%;
      flex-direction: column;
   }
   &__wrapper {
      flex: 1;
   }
   &__search-wrapper {
      display: flex;
      gap: 6px;
      padding: 12px 0;
   }
   &__search {
      font-size: 14px;
      background: var(--black-p);
      color: var(--white-p);
      border-radius: 25px;
      width: 100%;
      display: block;
      padding: 13px 20px;
      z-index: 1;
   }
   &__tab-button {
      border-radius: 25px;
      padding: 13px 20px;
      transition: var(--classic-s);
      z-index: 2;
      color: var(--white-s);
      position: relative;
      background: var(--black-p);
      width: auto;
      &:hover {
         transition: all var(--elastic-s), background var(--classic-s);
         border-radius: 16px;
         padding: 13px 22px;
      }
      &:active {
         transition: all var(--elastic-s), background var(--classic-s);
         transform: scale(0.95);
         padding: 13px 20px;
         border-radius: 32px;
      }
      &.active {
         background-color: var(--accent-l);
         color: var(--accent-d);
      }
   }

   &__list-wrapper {
      position: relative;
      overflow: hidden;
      position: relative;
      flex-grow: 1;
      height: calc(100% + 24px);
      margin-top: -24px;
      width: 100%;
   }
   &__list-items {
      mask-image: linear-gradient(
         to top,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         rgba(0, 0, 0, 0)
      );
      &::-webkit-scrollbar {
         display: none;
      }
      position: absolute;
      height: 100%;
      width: 100%;
      overflow-y: auto;
      display: grid;
      padding: 24px 0 24px 0;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: min-content;
      gap: 6px;
      &::-webkit-scrollbar {
         display: none;
      }
      scrollbar-width: none;
      -ms-overflow-style: none;
   }

   &__item {
      border-radius: 22px;
      background: var(--black-p);
      display: flex;
      padding: 6px;
      overflow: hidden;
      width: auto;
      position: relative;
      justify-content: space-between;
      &-left {
         padding: 6px;
         display: flex;
         flex-direction: column;
         width: auto;
         overflow: hidden;
      }
      h3 {
         text-overflow: ellipsis;
         overflow: hidden;
         color: var(--white-s);
      }
      p {
         font-size: 14px;
         text-overflow: ellipsis;
         overflow: hidden;
         color: var(--white-t);
      }
      &.active {
         grid-column: 1/-1;
      }
   }
   &__edit-button {
      cursor: pointer;
      background: var(--black-s);
      color: var(--white-s);
      border-radius: 16px;
      padding: 12px;
      transition: var(--elastic-s);
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
         height: 20px;
         width: 20px;
      }
      &:hover {
         border-radius: 22px;
      }
      &:active {
         scale: 0.9;
      }
   }
   &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;
   }
   &__form-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6px;
   }
   &__input {
      font-size: 14px;
      background: var(--black-s);
      color: var(--white-p);
      border-radius: 16px;
      width: 100%;
      display: block;
      padding: 13px 20px;
   }
   &__btns {
      display: flex;
      gap: 6px;
      justify-content: center;
   }
   &__form-button {
      border-radius: 25px;
      padding: 13px 20px;
      transition: var(--classic-s);
      background: var(--black-s);
      color: var(--white-s);
      z-index: 2;
      position: relative;
      width: auto;
      &:hover {
         transition: all var(--elastic-s), background var(--classic-s);
         border-radius: 16px;
         padding: 13px 22px;
      }
      &:active {
         transition: all var(--elastic-s), background var(--classic-s);
         transform: scale(0.95);
         padding: 13px 20px;
         border-radius: 32px;
      }
      &.active {
         background: var(--accent-l);
         color: var(--accent-d);
      }
      &--save {
         background: #9af07f;
         color: #0d3700;
      }
      &--edit {
         background: #80d1f6 !important;
         color: #002c41;
      }
      &--delete {
         background: hsl(0, 90%, 80%);
         color: #330000;
      }
   }

   &__radio-wrapper {
      display: flex;
      width: 100%;
      position: relative;
      label {
         flex: 1 1 50%;
         text-align: center;
         padding: 12px 0;
         cursor: pointer;
         color: var(--white-p);
         position: relative;
         z-index: 1;
         transition: var(--classic-s);

         input {
            display: none; // ascunde radio button-ul real
         }
      }
      &.grow {
         grid-column: 1/-1;
      }
      &::after,
      &::before {
         content: "";
         position: absolute;
         bottom: 0px;
         width: calc(50% - 3px);
         height: 100%;
         background: var(--accent-l);
         transition: background-color var(--classic-s), color var(--classic-s),
            width var(--elastic-s), border-radius var(--elastic-s),
            left var(--elastic-s);

         z-index: 0;
         border-radius: 16px;
      }

      &.active-botanica {
         &::after {
            left: 0px;
            border-radius: 16px 10px 10px 16px;
            transition: background-color var(--classic-s),
               color var(--classic-s), width var(--elastic-s),
               border-radius var(--elastic-s), left var(--classic-s);
         }

         &::before {
            left: calc(50% + 3px);
            background: var(--black-s);
            border-radius: 10px 16px 16px 10px;
            transition: background-color var(--classic-s),
               color var(--classic-s), width var(--elastic-s),
               border-radius var(--elastic-s), left var(--classic-s);
         }
         label:first-child {
            color: var(--accent-d);
         }
         &:has(label:last-child:hover) {
            &::before {
               border-radius: 24px;
               width: calc(50% - 13px);
               left: calc(50% + 13px);
            }
            &::after {
               width: calc(50% + 7px);
            }
            label:first-child {
               padding-left: 13px;
            }
            label:last-child {
               padding-left: 13px;
            }
         }
      }
      &.active-ciocana {
         &::after {
            left: calc(50% + 3px);
            border-radius: 10px 16px 16px 10px;
            transition: background-color var(--classic-s),
               color var(--classic-s), width var(--elastic-s),
               border-radius var(--elastic-s), left var(--classic-s);
         }
         &::before {
            left: 0px;
            background: var(--black-s);
            border-radius: 16px 10px 10px 16px;
            transition: background-color var(--classic-s),
               color var(--classic-s), width var(--elastic-s),
               border-radius var(--elastic-s), left var(--classic-s);
         }

         label:nth-child(2) {
            color: var(--accent-d);
         }

         &:has(label:first-child:hover) {
            &::before {
               left: 0px;
               border-radius: 24px;
               width: calc(50% - 13px);
            }
            &::after {
               width: calc(50% + 7px);
               left: calc(50% - 7px);
            }
            label:first-child {
               padding-right: 13px;
            }
            label:last-child {
               padding-right: 13px;
            }
         }
      }
   }
   &__add {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 6px;
      background: var(--black-p);
      border-radius: 22px;
   }
}
.blackouts__grid {
   display: grid;
   grid-template-columns: 3fr 2fr;
   gap: 6px;
   background: var(--black-s);
   padding: 6px;
   border-radius: 28px;
}
.blackouts__calendar {
   margin-bottom: -5px;
}
.blackouts__times {
   gap: 6px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(70px, 1fr)) !important;
   &.repeat {
      background: var(--black-s);
      padding: 6px;
      grid-template-columns: repeat(4, 1fr) !important;
      border-radius: 26px;
   }
}
.blackouts__weekly-grid {
   background: var(--black-s);
   gap: 3px;
   padding: 6px;
   border-radius: 26px;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
}
.weekly-day-col__title {
   text-align: center;
}
.blackouts__actions {
   display: flex;
   gap: 6px;
   align-items: center;
   justify-content: center;
}
.weekly-day-col {
   width: auto;
}
.blackouts__btn {
   border: 0;
   background: var(--black-p);
   color: var(--white-s);
   border-radius: 25px;
   padding: 12px 8px;
   font-size: 12px;
   transition: var(--classic-s);
   box-shadow: none;
   font-weight: 500;
   &:hover {
      transition: all var(--elastic-s), background var(--classic-s);
      color: var(--accent-l);
      border-radius: 16px;
      padding: 12px 16px;
   }
   &:active {
      transition: all var(--elastic-s), background var(--classic-s);
      transform: scale(0.93);
      margin: 0;
      padding: 12px 16px;
      border-radius: 32px;
   }

   &--selected {
      background-color: var(--accent-l);
      color: var(--accent-d);
      &:hover {
         color: var(--accent-d);
      }
   }
   &--disabled {
      opacity: 0.4;
      cursor: not-allowed;
      &:hover {
         color: var(--white-s);
         border-radius: 32px;
         padding: 12px 16px;
         margin: 0;
      }
   }
}
.blackouts__row {
   display: flex;
   align-items: center;
   gap: 6px;
   input{
      padding: 13px 10px;
   }
   span {
      font-size: 24px;
      padding-bottom: 3px;
      color: var(--white-p);
   }
}
@media only screen and (max-width: $mobile) {
   .instructors-popup {
      &__list-items {
         grid-template-columns: 1fr;
      }
   }
   .blackouts__grid {
      grid-template-columns: 1fr;
   }
   .blackouts__times {
      grid-template-columns: repeat(4, 1fr) !important;
   }
}
