// src/styles/_studentProfileUI.scss
.studentsProfileUI {
   height: 100%;
   display: flex;
   flex-direction: column;

   /* ===== Header ===== */

   &__header {
      //background: red;
      margin-bottom: 0 !important;
   }

   &__title {
      padding: 24px 24px 0 24px;
      font-size: 32px;
      line-height: 1;
      color: var(--white-p);
      font-family: "Lexend";
      font-family: "Clash Display";
      font-weight: 500;
      position: relative;
      z-index: 2;
      flex-shrink: 0;
   }
   &__iconBtn {
      position: absolute;
      top: 12px;
      right: 72px;
      background: var(--blue-t) !important;
      color: var(--blue-d) !important;
      padding: 12px 20px !important;
      cursor: pointer;
      z-index: 10 !important;
   }
   /* ===== Content ===== */

   &__content {
      padding: 12px 12px 0 12px;
      flex: 1;
      display: flex;
      flex-direction: column;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
         display: none;
      }
   }

   &__loading,
   &__empty {
      font-style: italic;
      color: var(--white-s);
   }

   //__btn--delete
   /* ===== HERO (“casa mare”) ===== */

   &__hero {
      display: flex;
      gap: 10px;
      align-items: center;

      padding: 6px;
      border-radius: 36px;
      background: var(--black-p);
   }
   &__heroTop {
      display: flex;
   }
   &__avatar {
      width: 48px;
      height: 48px;
      font-weight: 500;
      border-radius: 30px;
      background: var(--black-s);
      display: grid;
      place-items: center;
   }

   &__avatarIcon {
      svg {
         width: 22px;
         height: 22px;
      }
   }

   &__heroName {
      color: var(--white-p);
      font-weight: 800;
      font-size: 15px;
      line-height: 1.1;
   }

   &__heroMeta {
      margin: 10px 0;
      display: flex;
      gap: 6px;
      flex-wrap: wrap;
   }

   &__chip {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      padding: 6px 10px;
      border-radius: 99px;
      background: var(--black-p);
      color: var(--white-s);
      font-size: 12px;
      max-width: 100%;
      span {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }
   }

   &__chipIcon {
      div {
         display: flex;
         align-items: center;
         justify-content: center;
      }
      svg {
         width: 14px;
         height: 14px;
         opacity: 0.9;
      }
   }

   /* ===== Form ===== */

   &__form {
      //margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   &__inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6px;

      input {
         border-radius: 16px;
         padding: 14px 20px;
         width: 100%;
         background: var(--black-p);
         color: var(--white-p);
         outline: none;
      }
   }

   &__btns {
      display: flex;
      gap: 6px;
      justify-content: center;
      flex-wrap: wrap;
   }

   &__btn {
      border-radius: 24px;
      padding: 12px 20px;
      transition: var(--classic-s);
      &:hover {
         border-radius: 24px;
         padding: 12px 24px;
      }
      &:active {
         border-radius: 24px;
         padding: 12px 24px;
      }

      &--edit {
         background: #80d1f6;
         color: #002c41;
      }

      &--save {
         background: var(--green-t);
         color: var(--green-d);
         &:hover {
            background: var(--green-l);
            color: var(--green-d);
         }
      }

      &--normal {
         background: var(--black-p);
         color: var(--accent-l);
      }
   }

   /* ===== Admin ===== */

   &__admin {
      //margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   &__noteRow {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      background: var(--black-p);
      border-radius: 32px;
      padding: 3px 3px 3px 16px;

      &.is-saving {
         opacity: 0.9;
      }
   }

   &__noteLabel {
      color: var(--white-p);
      padding: 8px 0 !important;
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
   }

   &__noteInput {
      width: 100%;
      padding: 10px 12px;
      border-radius: 20px;
      outline: none;
      background: var(--black-s);
      color: var(--white-s);
      border: none;
   }

   &__controlsRow {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: stretch;

      &.is-disabled {
         opacity: 0.7;
         pointer-events: none;
      }
   }

   /* toggle buttons */
   &__toggle {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px 18px 10px 10px;
      border-radius: 32px;
      background: var(--black-p);
      color: var(--white-p);
      cursor: pointer;
      user-select: none;
      transition: var(--classic-s);
      border: none;

      &.is-off {
         background: var(--red-t);
         color: var(--red-d);

         svg {
            color: var(--red-d);
         }
      }

      &.is-on {
         background: var(--green-t);
         color: var(--green-d);

         svg {
            color: var(--green-d);
         }
      }

      &.is-disabled {
         opacity: 0.7;
         cursor: default;
      }
   }

   &__toggleIcon {
      div {
         display: grid;
         place-items: center;
      }
      svg {
         color: currentColor;
         width: 18px;
         height: 18px;
      }
   }

   &__toggleText {
      white-space: nowrap;
   }

   /* stepper */
   &__stepper {
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 32px;
      background: var(--blue-t);
      padding: 3px 3px 3px 16px;
      flex: 1;

      &.is-disabled {
         opacity: 0.7;
      }
   }

   &__stepperLabel {
      color: var(--blue-d);
      white-space: nowrap;
   }

   &__stepperInput {
      width: 100%;
      padding: 10px 12px;
      border-radius: 20px;
      background: var(--blue-d);
      color: var(--blue-l);
      border: none;
      outline: none;
      min-width: 70px;
   }

   /* ===== Tabs ===== */

   &__tabs {
      display: flex;
      gap: 6px;
      padding: 10px 0 8px;
   }

   &__tab {
      flex: 1;
      appearance: none;
      background: var(--black-p);
      color: var(--white-p);
      padding: 14px 20px;
      border-radius: 24px;
      transition: all 0.18s ease;
      cursor: pointer;
      border: none;

      &.is-active {
         background: var(--accent-l);
         color: var(--accent-d);
      }
   }

   /* ===== Lists ===== */

   &__list-wrapper {
      z-index: 2;
      position: relative;
      flex: 1;
      overflow: hidden;
      margin-top: -16px;
      flex-grow: 1;
   }

   &__list {
      mask-image: linear-gradient(
         to top,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         rgba(0, 0, 0, 0)
      );

      position: absolute;
      height: 100%;
      width: 100%;
      overflow-y: auto;
      display: grid;
      padding-top: 24px;
      padding-bottom: 24px;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: min-content;
      gap: 6px;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
         display: none;
      }

      &--attempts {
         position: relative;
         height: auto;
         overflow: visible;
         grid-template-columns: 1fr 1fr;
      }
   }

   &__item {
      border-radius: 22px;
      background: var(--black-p);
      display: flex;
      justify-content: space-between;
      position: relative;
      cursor: pointer;
      transition: var(--classic-s);

      &:hover {
         transform: translateY(-1px);
         border-color: rgba(255, 255, 255, 0.12);
      }

      &-left {
         display: flex;
         flex-direction: column;
         padding: 12px 12px 48px 16px;

         h3 {
            color: var(--white-p);
         }

         p {
            color: var(--white-s);
         }

         span {
            color: var(--white-s);
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 12px;
            left: 16px;
            gap: 3px;
            font-size: 12px;
         }
      }

      &-right {
         padding: 6px;
      }
   }

   &__item-icon {
      background: var(--black-s);
      border-radius: 16px;
      padding: 6px;

      div {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      svg {
         height: 20px;
         width: 20px;
      }

      &.is-completed,
      &.is-complete,
      &.is-success {
         color: #0d3700;
         background: #9cf680;
      }

      &.is-cancelled,
      &.is-cancel {
         color: hsl(0, 100%, 13%);
         background: hsl(0, 87%, 73%);
      }

      &.is-pending,
      &.is-clock {
         color: hsl(35, 87%, 13%);
         background: hsl(35, 94%, 73%);
      }

      &.is-download {
         background: var(--black-s);
         color: var(--white-p);
      }

      &.is-loading {
         opacity: 0.6;
      }
   }

   /* Attempts cards */
   &__attempts {
      flex: 1;
   }

   &__attempt {
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      background: var(--black-p);
      color: var(--white-p);
      border-radius: 22px;
      padding: 12px 14px;

      &Left {
         display: flex;
         flex-direction: column;
         gap: 3px;
      }

      &Right {
         text-align: right;
         display: flex;
         flex-direction: column;
         gap: 3px;
      }

      &Status {
         font-weight: 700;
         text-transform: capitalize;
      }

      &Dates {
         font-size: 12px;
         opacity: 0.8;
      }

      &Score {
         font-weight: 800;
      }

      &Total {
         font-size: 12px;
         opacity: 0.8;
      }

      &Download {
         position: absolute;
         top: 6px;
         right: 6px;
         border: none;
         background: transparent;
         padding: 6px;
         cursor: pointer;
         opacity: 0.9;
      }

      &--finished,
      &--completed {
         background: #9cf680;
         color: #0d3700;
      }

      &--in_progress,
      &--inprogress,
      &--running,
      &--expired {
         background: #80d1f6;
         color: #002c41;
      }

      &--failed,
      &--error {
         background: #f68080;
         color: #410000;
      }
   }
}

/* Mobile */
@media only screen and (max-width: $mobile) {
   .studentsProfileUI {
      &__inputs {
         grid-template-columns: 1fr;
      }

      &__list {
         grid-template-columns: 1fr;

         &--attempts {
            grid-template-columns: 1fr;
         }
      }

      &__hero {
         grid-template-columns: 52px 1fr 44px;
      }

      &__chip span {
         //max-width: 150px;
      }
   }
}
