@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@font-face {
   font-family: "Clash Display";
   src: url("./assets/fonts/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf")
      format("truetype");
   font-weight: 200 700; /* interval suportat */
   font-style: normal;
   font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap");

$fontFamily: "Lexend", sans-serif;
//$fontFamily: "Google Sans", sans-serif;
$fontSize: 14;

// colors palette
:root {
   // accent pallet
   --accent-l: #e6f680;
   --accent-d: #3d2e00;
   --accent-t: #616033;

   // main colors
   --black-p: hsl(0, 0%, 10%);
   --black-s: hsl(0, 0%, 18%);
   --black-t: hsl(0, 0%, 14%);
   --white-p: #fff;
   --white-s: #dfdfdf;
   --white-t: #8a8a8a;

   --bd: #6b6b6b5c;
   --transparent: #303030da;
   --blur-bg: rgba(125, 125, 125, 0.178) !important;
   --popup-bg: rgba(43, 43, 43, 0.812);

   // other colors pallet
   --green-t: #ace69a;
   --purple-t: hsla(267, 87%, 73%, 0.507);
   --blue-t: #63ccfcda;
   --red-t: #e5abab;
   --orange-t: hsla(35, 87%, 73%, 0.527);

   --green-l: #9cf680;
   --green-d: #0d3700;
   --blue-l: #80d1f6;
   --blue-d: #002c41;
   --red-l: #f68080;
   --red-d: #410000;
   --orange-l: hsl(35, 87%, 73%);
   --orange-d: hsl(35, 100%, 13%);
   // main bg gred
   --main-bg: radial-gradient(
      circle farthest-side,
      #9ba22f 0%,
      #993f3f 28%,
      #994d00 63%,
      #9e6b33 100%
   );
   //--main-bg: radial-gradient(
   //   circle farthest-side,
   //   #575c1e 0%,
   //   #421a1a 28%,
   //   #5b3c20 63%,
   //   #573c1e 100%
   //);

   // transitions
   --elastic-s: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   --elastic-f: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   --classic-s: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
   --classic-f: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.darkmode {
   // accent pallet
   --accent-l: #584b00;
   --accent-d: #e6f680;
   --accent-t: #e3ef97d7;

   // main colors
   --black-p: #f2f4ef;
   --black-s: #e6e9e3;
   --black-t: #eaebe6;
   --white-p: hsl(0, 0%, 10%);
   --white-s: hsl(0, 0%, 8%);
   --white-t: hsl(0, 0%, 42%);

   --bd: rgba(125, 125, 125, 0.178) !important;
   --transparent: #e0e0e0bf;
   --blur-bg: rgba(168, 168, 168, 0.178) !important;
   --popup-bg: #ffffff87;

   // other colors pallet
   --green-l: #9cf680;
   --green-t: #9cf68076;
   --green-d: #0d3700;
   --purple-l: hsl(267, 87%, 73%);
   --purple-t: hsla(267, 87%, 73%, 0.507);
   --purple-d: hsl(267, 100%, 13%);
   --blue-l: #80d1f6;
   --blue-t: #57caff74;
   --blue-d: #002c41;
   --red-l: #f68080;
   --red-t: #f680807c;
   --red-d: #410000;
   --orange-l: hsl(35, 87%, 73%);
   --orange-t: hsla(35, 87%, 73%, 0.527);
   --orange-d: hsl(35, 100%, 13%);

   // main bg gred
   --main-bg: radial-gradient(
      circle farthest-side,
      #f1f9b3 0%,
      #ffd1d1 28%,
      #ffb066 63%,
      #fce0b3 100%
   );
}
// responsive size decives
$tablet: 992px;
$mobile: 767.98px;
$mobileSmall: 480px;
// null style
@import "scss/_null.scss";
// general style
body {
   line-height: 1.4;
   font-family: $fontFamily;
   font-size: $fontSize + px;
   position: relative;
   height: 100%;
   background: var(--black-p);
}

.no-scroll {
   overflow: hidden;
}
// app <=>
.App {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   overflow: hidden;
   min-height: 100svh; /* umple ecranul */
   height: auto; /* dar poate crește dacă e conținut în plus */
   @media (max-width: $mobile) {
      justify-content: flex-start;
   }
}

// container <=>
.container {
   max-width: 1140px;
   width: 100%;
   margin: 0 auto;
   z-index: 10;
   //fix for slider
   > * {
      min-width: 0;
   }
}
.main-sign {
   width: 100%;
   background: var(--main-bg);
   background-size: 350% 350%;
   animation: Coolgradient 30s linear infinite;
   height: 100svh;
   display: flex;
   align-items: center;
   padding: 16px;
   @media (max-width: $mobile) {
      padding: 10px;
   }
}
@keyframes Coolgradient {
   0% {
      background-position: 5% 0%;
   }
   50% {
      background-position: 96% 100%;
   }
   100% {
      background-position: 5% 0%;
   }
}

.main {
   z-index: 4;
   padding-left: 200px;
   max-width: 2880px;
   width: 100%;

   /* scoate astea care blochează: */
   /* height: 100%; */
   /* min-height: 100%; */

   margin: 0 auto;
   transform: translateX(0%);
   transition: transform 0.8s cubic-bezier(0.32, 0.72, 0, 1);

   /* devine container flex pe coloană */
   display: flex;
   flex-direction: column;
   flex: 1 1 auto !important;
   min-height: 0 !important; /* CHEIE */

   @media (max-width: $tablet) {
      padding: 0 0 80px 0;
   }
}

//body.popup-open .main {
//   transform: translateX(15%);
//   @media only screen and (max-width: $mobile) {
//      transform: translateX(50%);
//   }
//}

// scroll bar <=>
@media only screen and (max-width: $mobile) {
   ::-webkit-scrollbar {
      display: none;
   }
}
::-webkit-scrollbar {
   background-color: var(--black-p);
   width: 16px;
}
::-webkit-scrollbar-track {
   background-color: var(--black-p);
}
::-webkit-scrollbar-thumb {
   background-color: var(--white-p);
   border-radius: 16px;
   border: 4px solid var(--black-p);
}
::-webkit-scrollbar-button {
   display: none;
}

// when copu text<=>
::selection {
   color: #101010;
   background: hsl(55, 100%, 87%);
}

.loading-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: var(--black-p);
   z-index: 10000;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition:
      opacity 0.5s ease,
      filter 0.5s ease;
   //transform: translateX(-0%);
   //filter: blur(0);
   opacity: 1;
   pointer-events: all;
   p {
      color: var(--white-p);
   }
}
.loading-overlay.fade-out {
   //filter: blur(1000px);
   //transform: translateX(-100%);
   opacity: 0;
   pointer-events: none; /* să nu blocheze interacțiunea */
}
.spinner {
   width: 40px;
   height: 40px;
   border: 4px solid var(--black-p);
   border-top-color: var(--accent-l);
   border-radius: 50%;
   animation: spin 1s infinite linear;
   margin-bottom: 12px;
}

@keyframes spin {
   to {
      transform: rotate(360deg);
   }
}
@media (max-width: 860px) {
   body.popup-open {
      overflow: hidden;
      touch-action: none;
   }
}

// footer
.footer-sign,
.footer {
   padding: 12px 12px 12px 12px;
   @media only screen and (max-width: $mobile) {
      padding: 6px;
   }
   &__body {
      padding: 20px;
      background: var(--black-s);
      border-radius: 35px;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      color: var(--white-s);
      @media only screen and (max-width: $mobile) {
         padding: 15px 20px;
      }
      a {
         color: var(--white-s);
      }
      svg {
         height: 14px;
         width: auto;
         color: var(--white-s);
         margin-bottom: -1px;
      }
   }
}

.footer-sign {
   position: absolute;
   bottom: 0;
   z-index: 0;

   &__body {
      padding: 10px;
      background: transparent;
      border-radius: 0;
      font-weight: 500;
      color: var(--white-s);
      opacity: 0.8;
      @media only screen and (max-width: $mobile) {
         padding: 10px;
      }
      a {
         color: var(--white-s);
      }
      svg {
         height: 14px;
         width: auto;
         color: var(--white-s);
         margin-bottom: -1px;
      }
   }
}
/* ✅ Ascunde headerul aplicației în exam mode */
body.is-exam-mode header {
   display: none !important;
}

/* (opțional) dacă layout-ul lasă spațiu sus pentru header */
body.is-exam-mode main {
   padding: 0 !important;
}

// imports
@import "./scss/_utils";
@import "./scss/_popup";
@import "./scss/_popupUI";
@import "./scss/_sign";
@import "./scss/_header";

//panels
@import "./scss/_panel";
@import "./scss/APanel/studentsManager";
@import "./scss/APanel/groupsManager";
@import "./scss/APanel/instrManager";
@import "./scss/APanel/instrGropus";
@import "./scss/APanel/dayview";
@import "./scss/APanel/calendarPlusLab";
@import "./scss/SPanel/nextLesson";
@import "./scss/SPanel/practice";

@import "./scss/today";
@import "./scss/_calendar";

//popups
@import "./scss/Popups/studentInfo";
@import "./scss/Popups/addinstr";
@import "./scss/Popups/addprog";
@import "./scss/Popups/aAddProg";
@import "./scss/Popups/_eventInfo";
@import "./scss/Popups/_permision";

// ui no cu corectii =======================================
@import "./scss/APanel/adminPanel";

// components
@import "./scss/APanel/studentsUI";
@import "./scss/APanel/studentsGroupsUI";
@import "./scss/APanel/instructorsGroupsUI";
@import "./scss/APanel/reservationHistoryUI";

//popups
@import "./scss/Popups/studentProfileUI";

// ui no cu corectii "Common"
@import "./scss/Common/studentItemUI";
@import "./scss/Common/iconButtonUI";
@import "./scss/Common/confirmDeleteButton";
@import "./scss/Common/popupUI";
