.calendar {
   padding: 24px 24px;
   flex: 1 1 auto !important;
}

/* ---- react-big-calendar ---- */
.rbc-calendar {
   background: var(--black-s) !important;
   padding: 0 !important;
   border-radius: 35px !important;
   overflow: hidden;
}

.rbc-toolbar {
   padding: 12px 12px 0;

   &-label {
      padding: 8px !important;
      text-wrap: nowrap !important;
      text-transform: capitalize;
      color: var(--white-p) !important;
   }
}

.rbc-btn-group {
   display: flex !important;
   gap: 6px !important;

   &__icon {
      div {
         display: flex;
      }
   }
   &__icon.deg180 {
      svg {
         rotate: 180deg;
      }
   }

   button {
      border: 0 !important;
      background: var(--black-p) !important;
      color: var(--white-s) !important;
      border-radius: 25px !important;
      padding: 14px 20px !important;
      transition: var(--classic-s);
      box-shadow: none !important;
      font-weight: 500;

      &:hover {
         transition: all var(--elastic-s), background var(--classic-s);
         color: var(--accent-l) !important;
         border-radius: 16px !important;
         padding: 14px 22px !important;
      }
      &:active {
         transition: all var(--elastic-s), background var(--classic-s);
         transform: scale(0.95);
         padding: 14px 20px !important;
         border-radius: 32px !important;
      }
      &.rbc-active {
         background: var(--accent-l) !important;
         color: var(--accent-d) !important;
      }
   }
}

/* ---- Month view ---- */
.rbc-month-view {
   gap: 6px !important;
   border: 0 !important;
   padding: 12px 17px 20px;

   .rbc-month-row {
      min-height: 70px !important;
      border: 0 !important;
      display: flex;

      .rbc-day-bg {
         //border: 1px solid var(--bd);
         border: 0 !important;
      }

      .rbc-event {
         padding: 0 9px 2px 8px;
         margin: 0;
         background: transparent;
      }

      .rbc-event-content {
         background-color: var(--accent-t);
         color: var(--white-p);
         border-radius: 6px;
         padding: 1px 5px;
         pointer-events: all;
         font-size: 12px;
         transition: var(--classic-f);

         &:hover {
            background-color: var(--accent-l) !important;
            color: var(--accent-d);
            scale: 1.03;
         }
      }

      .rbc-row-segment {
         margin: 0;
         padding: 0;
         position: relative;
      }

      .rbc-show-more {
         font-size: 10px;
         color: #fff;
         background: #929292d7;
         border-radius: 16px;
         padding: 2px 5px;
         font-weight: 400;
         position: relative;
         bottom: -1px;
         left: 8px;
         cursor: pointer;

         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.rbc-row {
   gap: 6px !important;
}
.rbc-row-bg {
   gap: 0 !important;
}

.rbc-row-content {
   pointer-events: none;

   .rbc-row {
      gap: 0 !important;
   }
}

.rbc-header {
   border: 0 !important;
   padding: 2px !important;
   margin-bottom: 3px;
   color: var(--white-s);
   font-weight: 400 !important;
   border-radius: 12px;
   background: transparent !important;
   text-align: center;
   text-transform: capitalize !important;

   &.rbc-today {
      background: var(--accent-l) !important;
      border-radius: 12px;
      color: var(--accent-d);
   }
}

.rbc-day-bg {
   border: 1px solid var(--bd) !important;
   padding: 6px;
   border-radius: 12px;
   margin: 0 3px;
   transition: var(--classic-s);
   background: var(--black-p);

   &.rbc-off-range-bg {
      background: var(--bd);
   }
   &:hover {
      background: var(--black-p);
      cursor: pointer;
   }

   &.rbc-today {
      background: var(--accent-l);
      &:hover {
         opacity: 0.8;
      }
   }
}

.rbc-date-cell {
   padding: 6px 10px 0 0 !important;
   color: var(--white-s);

   &.rbc-now {
      color: var(--accent-d) !important;
   }
   &.rbc-current {
      color: var(--white-p);
   }
}
.rbc-date-cell.rbc-off-range {
   color: var(--white-t);
}

/* ---- Week/Time view ---- */
.rbc-time-view {
   border: 0 !important;
   padding: 12px 12px 0;

   .rbc-time-header {
      gap: 6px !important;
   }
   .rbc-allday-cell {
      display: none;
   }

   .rbc-time-header,
   .rbc-time-header-content {
      border: 0 !important;
   }

   .rbc-events-container {
      background: var(--black-p);
      border: 0 !important;
      margin: 0 !important;
      width: auto;
   }

   .rbc-event {
      background-color: var(--accent-t);
      color: var(--white-p);
      padding: 6px;
      border-radius: 10px;
      width: 100% !important;
      margin: -1% 0 0 0 !important;
      left: 0 !important;
      border: 4px solid var(--black-p) !important;
      gap: 2px;
      transition: var(--classic-f) !important;

      &.rbc-selected {
         background-color: var(--accent-t) !important;
      }
      &:focus {
         outline: none !important;
         box-shadow: none !important;
         background-color: var(--accent-t);
      }
      &:hover {
         color: var(--accent-d);
         background-color: var(--accent-l) !important;
      }
   }

   .rbc-event-label {
      font-size: 8px;
      line-height: 1;
      width: 100%;
      text-wrap: wrap;
      text-overflow: ellipsis !important;
      opacity: 0.8;
   }

   .rbc-event-content {
      text-overflow: ellipsis !important;
      font-size: 10px;
   }
}

.rbc-label {
   color: var(--white-s);
}

.rbc-time-content {
   gap: 6px !important;
   border: 0 !important;
   flex: 1 1 auto;

   &::-webkit-scrollbar-track {
      background: var(--black-s);
   }
   &::-webkit-scrollbar-thumb {
      border-color: var(--black-s);
   }
}

.rbc-time-column {
   gap: 3px;
   margin-bottom: 12px;
}

.rbc-timeslot-group,
.rbc-time-slot {
   border: 0 !important;
}

.rbc-day-slot.rbc-now.rbc-today {
   background: #d5d16100;
}

.rbc-day-slot.rbc-time-column {
   border: 0 !important;
   overflow: hidden;
   border-radius: 10px;

   .rbc-timeslot-group {
      border-bottom: 1px solid var(--bd) !important;
      z-index: 3 !important;
      opacity: 0.5;
      pointer-events: none;
   }
}

.rbc-events-container {
   border: 0 !important;
}
.calendar.ipanel {
   .add-btn-calendar {
      display: none;
   }
}
/* ---- Responsive ---- */
@media (max-width: $mobile) {
   .calendar {
      padding: 6px;
      //margin-top: 12px;

      &.page {
      }
   }
   .calendar.ipanel {
      display: none !important;
   }
   .rbc-calendar {
      //border-radius: 0px !important;
      //background: var(--black-p) !important;
   }
   .rbc-toolbar {
      display: flex !important;
      flex-wrap: wrap !important;
      flex-direction: row !important;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      gap: 6px;
      &-label {
         color: var(--white-p) !important;
         flex: 0;
      }
   }
   .rbc-btn-group {
      align-self: flex-start !important;
   }
   .rbc-header {
      white-space: pre-line !important;
   }
   /* ---- Month view ---- */
   .rbc-month-view {
      padding: 0px 6px 9px 6px !important;
      .rbc-month-row {
         min-height: 60px !important;
         &:last-child {
            & .rbc-day-bg:first-child {
               border-radius: 12px 12px 12px 24px !important;
            }
            & .rbc-day-bg:last-child {
               border-radius: 12px 12px 24px 12px !important;
            }
         }
         .rbc-day-bg {
            border: 0 !important;

            //&.rbc-off-range-bg {
            //   background: transparent;
            //   //border: 1px solid var(--bd) !important;
            //}
            //&.rbc-today {
            //   //background: var(--accent-l);
            //   &:hover {
            //      opacity: 0.8;
            //   }
            //}
         }
      }
   }
   .rbc-time-view {
      padding: 0 6px;
      .rbc-time-content {
         min-height: 604px;
      }
      .rbc-time-column {
         margin-bottom: 0 !important;
      }
      .rbc-time-column:nth-child(2) {
         border-radius: 12px 12px 12px 29px !important;
      }
      .rbc-time-column:last-child {
         border-radius: 12px 12px 29px 12px !important;
      }
      .rbc-event {
         //border: 4px solid var(--black-s) !important;
      }
      .rbc-event-label {
         text-overflow: ellipsis !important;
         padding: 0 !important;
      }
      .rbc-event-content {
         text-overflow: ellipsis !important;
         white-space: nowrap !important;
         overflow: hidden !important;
      }
   }
   .rbc-time-header-gutter {
      width: 0;
      display: none;
   }
   .rbc-time-gutter.rbc-time-column {
      //width: 30px;
      width: 0;
      display: none;
   }
   .rbc-time-column {
      font-size: 10px;
   }

   .rbc-events-container {
      width: auto;
   }
}
