.header {
   position: fixed;
   left: 0;
   transform: translateZ(0);
   top: 0;
   max-width: 200px;
   height: calc(100svh);
   width: 100%;
   z-index: 100;
   user-select: none;
   //background: var(--black-s);
   transition: max-width 0.3s;
   //background: #000;
   &__body {
      max-width: 100%;
      height: 100%;
      transition: 0.3s;
      transition: max-width 0.3s;
      z-index: 0;
      overflow: hidden;
      position: relative;
   }
   &__wrapper {
      height: 100%;
      max-width: 100%;
      transition: 0.3s;
      transition: max-width 0.3s;
   }
   &__profil-wrapper {
      padding: 14px 0 0 14px;
   }
   &__profil {
      overflow: hidden;
      padding: 40px 12px 12px 12px;
      border-radius: 18px;
      background: var(--black-s);
      h1 {
         font-size: 24px;
         line-height: 1;
         color: var(--white-p);
         font-family: "Clash Display";
         font-weight: 500;
         z-index: 2;
      }
      p {
         font-size: 14px;
         color: var(--white-s);
      }
      position: relative;
      &::after {
         content: "";
         position: absolute;
         bottom: -80%;
         left: -160%;
         width: 300%;
         height: 150%;
         background: radial-gradient(
            circle,
            rgba(243, 252, 121, 0.2),
            transparent
         );
         filter: blur(40px);
         pointer-events: none;
      }
   }
   &__statut {
      position: absolute;
      top: 6px;
      right: 6px;
      background: var(--accent-l);
      padding: 5px 10px;
      border-radius: 20px;
      z-index: 10;
      div {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      svg {
         color: var(--accent-d);
         height: 16px;
         width: 16px;
      }
   }
   &__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 208px);
   }
   &__burger {
      display: none;
   }
}

.menu {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 1 1 auto;
   overflow: hidden;
   transition: 0.3s;
   &__body {
      height: 100%;
   }
   &__list {
      max-height: 800px;
      transition: 0.3s;
      padding: 8px;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   &__link {
      width: 100%;
      display: flex;
      //flex-direction: column;
      align-items: center;
      //justify-content: center;
      gap: 8px;
      cursor: pointer;
      transition: 0.1s;
   }
   &__nav-text {
      position: relative;
      transition: 0.3s;
      white-space: nowrap;
      font-size: 14px;
      color: var(--white-s);
   }
   &__icon {
      color: var(--white-s);
      background: var(--black-s);
      width: 66px;
      //padding: 8px ;
      padding: 13px;
      display: grid;
      place-items: center;
      transition: var(--elastic-s);
      border-radius: 25px;
      div {
         display: grid;
         place-items: center;
      }
      svg {
         min-width: 24px;
         min-height: 24px;
         width: 24px;
         height: 24px;
      }
   }
   &__link:hover .menu__icon {
      width: 70px;
      color: var(--white-p);
   }
}
// togle menu
.settings {
   transition: 0.3s;
   padding: 12px;
   &__wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
   }
   &__mode-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: 0.1s;
      border-radius: 25px;
   }
   &__mode-btn {
   }
   &__icons {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--accent-l);
      transition: var(--classic-s);
      width: 50px;
      height: 50px;
      border-radius: 25px;
      //width: calc(176px);
      width: 50px;
   }
   &__icons:hover {
      //width: calc(176px);
      width: 70px;
      transition: all var(--elastic-s), background var(--classic-f);
      background: var(--accent-d);
   }
   &__icons:active {
      //width: 176px;
      width: 50px;
      background: var(--accent-d);
      transform: scale(0.8);
      border-radius: 25px;
      transition: var(--elastic-s);
   }

   &__icon-logout,
   &__icon {
      color: var(--accent-d);
      padding: 8px;
      display: grid;
      place-items: center;
      border-radius: 25px;
      position: absolute;
      transition: all var(--elastic-s), color var(--classic-f);
      div {
         display: grid;
         place-items: center;
      }
      svg {
         min-width: 24px;
         min-height: 24px;
         width: 24px;
         height: 24px;
      }
   }
   &__icon-logout {
      padding: 8px 6px 8px 10px;
   }
   &__icons:hover &__icon-logout,
   &__icons:hover &__icon {
      color: var(--accent-l);
   }
   &__icons:active &__icon-logout,
   &__icons:active &__icon {
      color: var(--accent-l);
   }
   p {
      white-space: nowrap;
      display: none;
   }
}

.sign .settings {
   right: 0;
   top: 0;
   left: auto;
   position: absolute;
   bottom: auto;
   &__icons {
      width: 50px;
      background: var(--accent-d);
   }
   &__icons:hover {
      width: 70px;
      background: var(--accent-l);
   }
   &__icons:active {
      background: var(--accent-l);
      width: 50px;
      transform: scale(0.8);
   }
   &__icon {
      color: var(--accent-l);
   }
   &__icons:hover .settings__icon {
      color: var(--accent-d);
   }
   &__icons:active .settings__icon {
      color: var(--accent-d);
   }
}

.settings__icon:nth-child(1) {
   filter: blur(10px);
   transform: scale(0.5);
   opacity: 0;
}
.settings__icon:nth-child(2) {
   filter: blur(0);
   transform: scale(1);

   opacity: 1;
}
.darkmode .settings__icon:nth-child(1) {
   transform: scale(1);
   filter: blur(0);
   opacity: 1;
}
.darkmode .settings__icon:nth-child(2) {
   transform: scale(0.5);
   filter: blur(10px);
   opacity: 0;
}

// adaptation mobile

//@media (max-width: $mobile) {
//   .header {
//      position: fixed;
//      max-width: 100%;
//      padding: 0 0;
//      min-height: 80px;
//      bottom: 0;
//      display: flex;
//      flex-direction: column;
//      justify-content: flex-end;
//      transition: 0.3s;
//      pointer-events: none;
//      &__bg {
//         position: absolute;
//         background: var(--black-s);
//         &-1 {
//            top: -8px;
//            left: 0;
//            width: 102px;
//            height: 50px;
//            border-radius: 0 28px 0 0;
//            pointer-events: none;
//            &::after {
//               content: "";
//               position: absolute;
//               top: -64px;
//               left: 8px;
//               width: 64px;
//               height: 64px;
//               border-radius: 0 0 0 32px;
//               box-shadow: -10px 10px var(--black-s);
//               background: transparent;
//            }
//         }
//         &-2 {
//            top: -8px;
//            right: 0;
//            width: 105px;
//            height: 50px;
//            border-radius: 28px 0 0 0;
//            pointer-events: none;
//            &::after {
//               content: "";
//               position: absolute;
//               top: -64px;
//               right: 8px;
//               width: 64px;
//               height: 64px;
//               border-radius: 0 0 32px 0;
//               box-shadow: 10px 10px var(--black-s);
//               background: transparent;
//            }
//         }
//         &-3 {
//            top: 18.7px;
//            left: 0;
//            width: 100%;
//            height: 300px;
//         }
//         &-4 {
//            top: -37.5px;
//            left: 93.6px;
//            width: 56px;
//            height: 56px;
//            border-radius: 0 0 0 28px;
//            box-shadow: 0px 40px var(--black-s);
//            background: transparent;
//            pointer-events: none;
//         }
//         &-5 {
//            top: -37.5px;
//            right: 96.4px;
//            width: 56px;
//            height: 56px;
//            border-radius: 0 0 28px 0;
//            box-shadow: 0 40px var(--black-s);
//            background: transparent;
//            pointer-events: none;
//         }
//      }
//      &__radius-top {
//         position: fixed;
//         &-1 {
//            top: 8px;
//            left: 8px;
//            width: 64px;
//            height: 64px;
//            border-radius: 32px 0 0 0;
//            background: transparent;
//            z-index: 30;
//            box-shadow: -10px -10px var(--black-s);
//            pointer-events: none;
//         }
//
//         &-2 {
//            top: 8px;
//            right: 8px;
//            width: 64px;
//            height: 64px;
//            border-radius: 0 32px 0 0;
//            background: transparent;
//            z-index: 30;
//            box-shadow: 10px -10px var(--black-s);
//            pointer-events: none;
//         }
//         &-3 {
//            top: 0px;
//            left: 0px;
//            width: 100%;
//            height: 8px;
//            border-radius: 12px 0 0 0;
//            background: var(--black-s);
//            z-index: 30;
//            pointer-events: none;
//         }
//      }
//      &__wrapper {
//         min-height: 80px;
//         transition: max-height 0.3s;
//         height: auto;
//         pointer-events: all;
//      }
//      &__body {
//         transition: max-height 0.3s;
//         min-height: 80px;
//         max-width: 100%;
//         height: auto;
//         overflow: inherit;
//         background: transparent;
//      }
//      &__top {
//         position: relative;
//         height: 40px;
//         max-width: none;
//         margin: 8px;
//         background: transparent;
//         display: flex;
//         justify-content: space-between;
//      }
//      &__logo {
//         margin: 0;
//         width: 84px;
//         svg {
//            height: 20px;
//            width: 52px;
//         }
//      }
//      &__nav {
//         display: flex;
//         transition: padding-top 0.3s;
//         transition-delay: 0.15s;
//      }
//      &__burger {
//         display: block;
//         position: absolute;
//         right: 0;
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         color: var(--black-s);
//         background: var(--white-p);
//      }
//      &__icon-burger {
//         position: relative;
//         width: 100%;
//         height: 100%;
//         transition: 0.15s;
//      }
//      &__icon {
//         position: absolute;
//         height: 20px;
//         width: 20px;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         color: var(--black-s);
//      }
//      &__icon:nth-child(1) {
//         opacity: 1;
//         transition: 0.3s;
//      }
//      &__icon:nth-child(2) {
//         opacity: 0;
//         transition: 0.3s;
//      }
//      // settings
//      &__settings-btn {
//         position: absolute;
//         top: 0;
//         right: 48px;
//         width: auto;
//         display: flex;
//         justify-content: flex-end;
//         align-items: center;
//         border-radius: 50%;
//         background: var(--white-p);
//         transition: 0.15s;
//         margin: 0 8px 0 0;
//      }
//      &__settings-btn:hover {
//         background: var(--white-p);
//      }
//      &__settings-icon {
//         color: var(--black-p);
//         width: 20px;
//         height: 20px;
//      }
//   }
//
//   .menu {
//      display: flex;
//      flex-direction: column;
//      width: 100%;
//      z-index: 10;
//      transition: 0.3s;
//      // one row of header
//      max-height: 68px;
//      &__list {
//         padding: 0 8px 8px 8px;
//         width: 100%;
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr;
//         transition: 0.3s;
//         gap: 8px;
//      }
//      &__item {
//         width: 100%;
//         white-space: nowrap;
//         height: 60px;
//      }
//      &__link {
//         height: 60px;
//         background: var(--black-p);
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         gap: 0;
//         overflow: hidden;
//         padding-left: 0;
//         border-radius: 20px;
//      }
//      &__icon {
//         color: var(--white-s);
//         width: 100%;
//         padding: 0px;
//         display: grid;
//         place-items: center;
//         border-radius: 25px;
//         div {
//            display: grid;
//            place-items: center;
//         }
//         svg {
//            min-width: 24px;
//            min-height: 24px;
//            width: 24px;
//            height: 24px;
//         }
//      }
//      &__nav-text {
//         width: 100%;
//         text-align: center;
//      }
//   }
//
//   .settings {
//      padding: 0 8px 8px 8px;
//      max-height: 70px;
//      height: 70px;
//      transition: 0.3s;
//      opacity: 0;
//      pointer-events: none;
//      &__mode-btn {
//         width: 100%;
//         flex-direction: row;
//         justify-content: start;
//         gap: 4px;
//         background: var(--black-p);
//         border-radius: 25px;
//      }
//      &__item {
//         padding: 0;
//      }
//      &__icon {
//         color: var(--white-s);
//         width: auto;
//         padding: 8px;
//      }
//   }
//   // open menu
//   .menu-open {
//      // burger animation
//      .header {
//         &__icon:nth-child(1) {
//            opacity: 0;
//            transition: 0.3s;
//         }
//         &__icon:nth-child(2) {
//            opacity: 1;
//            transition: 0.3s;
//         }
//      }
//      //  height of the menu openn need calculed((
//      $oneElementOfMenu: 68px;
//      // nr de randuri in menu
//      $heightOfMenu: 68px * 2;
//      .settings {
//         max-height: $heightOfMenu;
//         height: $heightOfMenu;
//         transition: 0.3s;
//         opacity: 0;
//      }
//      .menu {
//         // calc of numbers of rows elements
//         max-height: $heightOfMenu;
//         transition: 0.3s;
//      }
//   }
//   // open settings
//   // numbers of elements in the
//   $nrElements: 1;
//   // nr de randuri in settings
//   $element: 50px * $nrElements;
//   //open settings
//   .settings-open {
//      .settings {
//         max-height: $element;
//         height: $element;
//         opacity: 1;
//         transition: 0.3s;
//         pointer-events: all;
//      }
//      .menu {
//         max-height: $element;
//         transition: 0.3s;
//         &__list {
//            opacity: 0;
//            transition: 0.3s;
//         }
//      }
//   }
//}
