.header {
   position: fixed;
   left: 0;
   transform: translateZ(0);
   top: 0;
   max-width: 200px;
   height: calc(100svh);
   width: 100%;
   z-index: 100;
   user-select: none;
   transition: max-width 0.3s;
   //background: #000;
   &__body {
      max-width: 100%;
      height: 100%;
      transition: 0.3s;
      transition: max-width 0.3s;
      z-index: 0;
      overflow: hidden;
      position: relative;
   }
   &__wrapper {
      height: 100%;
      max-width: 100%;
      transition: 0.3s;
      transition: max-width 0.3s;
   }
   &__profil-wrapper {
      padding: 12px 0 0 12px;
   }
   &__profil {
      overflow: hidden;
      padding: 40px 12px 12px 12px;
      border-radius: 18px;
      background: var(--black-s);
      h1 {
         font-size: 24px;
         line-height: 1;
         color: var(--white-p);
         font-family: "Clash Display";
         font-weight: 500;
         z-index: 2;
      }
      p {
         font-size: 14px;
         color: var(--white-s);
      }
      position: relative;
   }
   &__statut {
      position: absolute;
      top: 6px;
      right: 6px;
      background: var(--accent-l);
      padding: 5px 10px;
      border-radius: 20px;
      z-index: 10;
      div {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      svg {
         color: var(--accent-d);
         height: 16px;
         width: 16px;
      }
   }
   &__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 208px);
   }
   &__burger {
      display: none;
   }
}

.menu {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 1 1 auto;
   overflow: hidden;
   transition: 0.3s;
   &__body {
      height: 100%;
   }
   &__list {
      max-height: 800px;
      transition: 0.3s;
      padding: 12px 6px 12px 18px;
      display: flex;
      flex-direction: column;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
   }
   &__link {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      cursor: pointer;
      transition: 0.1s;
   }
   &__nav-text {
      position: relative;
      transition: 0.3s;
      white-space: nowrap;
      font-size: 14px;
      color: var(--white-s);
   }

   &__icon {
      color: var(--white-s);
      background: var(--black-s);
      width: 60px;
      //padding: 8px ;
      padding: 12px;
      display: grid;
      place-items: center;
      transition: var(--elastic-s);
      border-radius: 25px;
      div {
         display: grid;
         place-items: center;
      }
      svg {
         min-width: 24px;
         min-height: 24px;
         width: 24px;
         height: 24px;
      }
   }
   &__link:hover .menu__icon {
      border-radius: 16px;
      width: 64px;
      color: var(--white-p);
   }
   &__link--active .menu__icon {
      color: var(--accent-d);
      background: var(--accent-l);
   }
   &__link--active:hover .menu__icon {
      color: var(--accent-d);
   }
}
.menu .settings__item {
   display: none;
}
.settings .settings__item {
   display: flex;
}
// togle menu
.settings {
   transition: 0.3s;
   padding: 12px;
   display: flex;
   gap: 12px;
   &__wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
   }
   &__mode-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: 0.1s;
      border-radius: 25px;
   }
   &__icons {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--accent-l);
      transition: var(--classic-s);
      width: 50px;
      height: 50px;
      border-radius: 25px;
      //width: calc(176px);
      width: 50px;
   }
   &__icons:hover {
      //width: calc(176px);
      width: 70px;
      transition: all var(--elastic-s), background var(--classic-f);
      background: var(--accent-d);
   }
   &__icons:active {
      //width: 176px;
      width: 50px;
      background: var(--accent-d);
      transform: scale(0.8);
      border-radius: 25px;
      transition: var(--elastic-s);
   }

   &__icon-logout,
   &__icon {
      color: var(--accent-d);
      padding: 8px;
      display: grid;
      place-items: center;
      border-radius: 25px;
      position: absolute;
      transition: all var(--elastic-s), color var(--classic-f);
      div {
         display: grid;
         place-items: center;
      }
      svg {
         min-width: 24px;
         min-height: 24px;
         width: 24px;
         height: 24px;
      }
   }
   &__icon-logout {
      padding: 8px 6px 8px 10px;
   }
   &__icons:hover &__icon-logout,
   &__icons:hover &__icon {
      color: var(--accent-l);
   }
   &__icons:active &__icon-logout,
   &__icons:active &__icon {
      color: var(--accent-l);
   }
   p {
      white-space: nowrap;
      display: none;
   }
}

.sign .settings {
   right: 0;
   top: 0;
   left: auto;
   position: absolute;
   bottom: auto;
   &__item:nth-child(2) {
      display: none;
   }
   &__icons {
      width: 50px;
      background: var(--accent-d);
   }
   &__icons:hover {
      width: 70px;
      background: var(--accent-l);
   }
   &__icons:active {
      background: var(--accent-l);
      width: 50px;
      transform: scale(0.8);
   }
   &__icon {
      color: var(--accent-l);
   }
   &__icons:hover .settings__icon {
      color: var(--accent-d);
   }
   &__icons:active .settings__icon {
      color: var(--accent-d);
   }
}

.settings__icon:nth-child(1) {
   filter: blur(10px);
   transform: scale(0.5);
   opacity: 0;
}
.settings__icon:nth-child(2) {
   filter: blur(0);
   transform: scale(1);

   opacity: 1;
}
.darkmode .settings__icon:nth-child(1) {
   transform: scale(1);
   filter: blur(0);
   opacity: 1;
}
.darkmode .settings__icon:nth-child(2) {
   transform: scale(0.5);
   filter: blur(10px);
   opacity: 0;
}

// adaptation mobile
@media (max-width: $tablet) {
   .header {
      width: 100%;
      min-width: 100%;
      pointer-events: none;
      bottom: 0;
      left: 0;
      top: auto;
      overflow: hidden;
      height: 100vh;
      position: fixed;
      max-width: 100%;
      padding: 0 0;
      min-height: 80px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: 0.3s;
      pointer-events: none;
      &__profil-wrapper {
         display: none;
      }
      &__wrapper {
         min-height: 80px;
         transition: 0.3s;
         height: auto;
         pointer-events: all;
         padding: 12px 12px 12px 12px;
      }
      &__body {
         transition: max-height 0.3s;
         min-height: none;
         max-width: 100%;
         height: auto;
         overflow: inherit;
         background: transparent;
         background: var(--black-s);
         border-radius: 32px;
         overflow: hidden;
         box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.3);
      }
      &__top {
         display: none;
      }
      &__nav {
         display: flex;
         transition: padding-top 0.3s;
         transition-delay: 0.15s;
      }
      &__burger {
         display: block;
         height: 46px;
         border-radius: 24px;
         color: var(--black-s);
         background: var(--white-p);
         grid-column: 4;
         grid-row: 1;
         transition: 0.3s;
      }
      &__icon-burger {
         position: relative;
         width: 100%;
         height: 100%;
      }
      &__icon {
         position: absolute;
         height: 20px;
         width: 20px;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         color: var(--black-s);
      }
      &__icon:nth-child(1) {
         opacity: 1;
         transition: 0.3s;
      }
      &__icon:nth-child(2) {
         opacity: 0;
         transition: 0.3s;
      }
   }
   .menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      z-index: 10;
      padding: 8px 8px 0;
      &__item {
         min-width: 0;
      }
      &__list {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         gap: 8px;
         padding: 0 0 8px 0;
         height: calc(46px + 8px);
         overflow: hidden;
         transition: 0.3s;
         width: 100%;
      }

      &__link {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 0;
         width: 100%;
         height: 46px;
         padding: 8px 12px;
         background: var(--black-p);
         border-radius: 22px;
      }
      &__link--active {
         background: var(--accent-l);
      }
      &__link--active .menu__icon {
         background: none;
      }
      &__link--active .menu__nav-text {
         color: var(--accent-d);
      }
      &__icon {
         color: var(--white-s);
         width: 100%;
         padding: 0;
         display: grid;
         place-items: center;
         border-radius: 25px;
         background: transparent;
         svg {
            min-width: 20px;
            min-height: 20px;
            width: 20px;
            height: 20px;
         }
      }

      &__nav-text {
         width: 100%;
         text-align: center;
         height: 0;
         font-size: 12px;
         opacity: 0;
         transition: 0.5s cubic-bezier(0.2, 0.885, 0.32, 1.1);
         align-self: stretch;
         text-align: center;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }
      .menu > .settings__item {
         display: block;
      }
   }
   .settings {
      // in interior
      padding: 0;
      gap: 8px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &__wrapper {
         display: none;
      }
      &__wrapper-mobile {
         display: flex;
         grid-column: 1 / -1;
      }
      &__icons {
         width: 100%;
         height: 0px;
         padding: 0;
         transition: 0.3s !important;
      }
      &__icons:hover {
         width: 100%;
      }
   }
   .menu .settings__item {
      display: flex;
   }
   .settings__wrapper {
      display: none;
   }
   .menu-open {
      .menu__list {
         height: calc(60px * var(--openRows) + 6px * (var(--openRows)));
         gap: 6px;
         > * {
            opacity: 1;
         }
      }
      .header {
         &__icon:nth-child(1) {
            opacity: 0;
            transition: 0.3s;
         }
         &__icon:nth-child(2) {
            opacity: 1;
            transition: 0.3s;
         }
         &__wrapper {
            padding: 6px;
         }
         &__burger {
            height: 60px;
         }
      }
      .menu__link {
         height: 60px;
      }
      .menu__nav-text {
         height: 18px;
         opacity: 1;
      }
      .settings {
         &__icons {
            height: 60px;
         }
      }
   }
   .sign .settings {
      width: auto;
      padding: 12px;
      display: flex;
      &__item:nth-child(2) {
         display: none;
      }
      &__icons {
         width: 50px;
         position: relative;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 50px;
         height: 50px;
         border-radius: 25px;
         width: 50px;
      }
      &__icons:hover {
         width: 70px;
         background: var(--accent-l);
      }
      &__icons:active {
         background: var(--accent-l);
         width: 50px;
         transform: scale(0.8);
      }
      &__icon {
         color: var(--accent-l);
      }
   }
}
