.intro {
   width: 100%;
   display: grid;
   gap: 20px;
   padding: 24px 24px 0 24px;
   grid-template-columns: 2fr 3fr;

   &::-webkit-scrollbar {
      background: transparent;
   }
   &__left {
      background: var(--black-s);
      border-radius: 35px;
      padding: 25px;
      overflow: hidden;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         top: -80%;
         right: -80%;
         width: 150%;
         height: 150%;
         background: radial-gradient(
            circle,
            rgba(243, 252, 121, 0.2),
            transparent
         );
         filter: blur(40px);
         pointer-events: none;
      }
      h2 {
         font-size: 48px;
         line-height: 1;
         color: var(--white-p);
         font-family: "Clash Display";
         font-weight: 500;
         z-index: 2;
         & .highlight-name {
            position: relative;
            background: linear-gradient(
               90deg,
               var(--white-s),
               var(--accent-l)
            ); // galben-verde moale
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
         }
      }
      p {
         font-size: 18px;
         line-height: 1.4;
         color: var(--white-t);
         z-index: 2;
      }
   }
   &__instructori {
      background: var(--black-s);
      border-radius: 35px;
      overflow: hidden;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         top: -80%;
         right: -80%;
         width: 150%;
         height: 150%;
         background: radial-gradient(
            circle,
            rgba(243, 252, 121, 0.2),
            transparent
         );
         filter: blur(40px);
         pointer-events: none;
      }
   }
   &__right {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 20px;
   }
   &.admin .intro__right {
      grid-template-columns: 5fr 2fr;
   }
   &__progress {
      background: var(--black-s);
      border-radius: 35px;
   }
   &__clock-wrapper {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
   }
   &__clock {
      aspect-ratio: 1/1;
      position: relative;
      border-radius: 50%;
   }
   &__clock-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      pointer-events: none;
      background: linear-gradient(135deg, #d9d7a9, #d1f7a9);
      background: linear-gradient(135deg, var(--accent-t), var(--accent-l));
      mask-image: url("../assets/svg/clock-bg.svg");
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: center;

      &::after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         width: 120%;
         height: 120%;
         transform: translate(-50%, -50%);
         background: radial-gradient(circle, var(--accent-l), transparent);
         //filter: blur(25px);
         z-index: -1;
      }

      div {
         display: flex;
         justify-content: center;
         align-items: center;
      }

      svg {
         width: 100%;
         height: 100%;
         //color: var(--accent-l);
         display: none;
      }
   }
}
.intro.admin {
   grid-template-columns: 2fr 3fr;
}
@media only screen and (max-width: $tablet) {
   .intro.admin {
      grid-template-columns: 1fr;
      .intro__right {
         gap: 16px;
         grid-template-columns: 1fr;
      }
      .intro__clock-wrapper {
         grid-template-rows: 1fr;
         grid-template-columns: 1fr 1fr;
         gap: 16px;
      }
      .today {
      }
      .ipanel {
         min-height: 400px;
         display: none;
      }
   }
}
.main {
   .page-wrapper {
      padding: 24px;
      .groups.ipanel {
         min-height: calc(100svh - 48px);
      }
      .today {
         min-height: calc(100svh - 48px);
      }
   }
}
@media only screen and (max-width: $mobile) {
   .main {
      .page-wrapper {
         padding: 16px;
         .groups.ipanel {
            min-height: calc(100svh - 32px - 100px);
         }
         .today {
            min-height: calc(100svh - 32px - 100px);
         }
      }
   }
}

// student ==================
.intro.student {
   grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: $tablet) {
   .intro.student {
      grid-template-columns: 2fr 3fr;
   }
}
@media only screen and (max-width: 860px) {
   .intro {
      &.student {
         grid-template-columns: 1fr;
      }
      &__left {
         &::after {
            right: auto;
            top: auto;
            bottom: -80%;
            left: -80%;
         }
         h2 {
            font-size: 32px;
         }
         p {
            font-size: 16px;
         }
      }
   }
}
@media only screen and (max-width: 550px) {
   .intro {
      padding: 16px 16px 0 16px;
      gap: 16px;
      &.student {
         grid-template-columns: 1fr;
      }
      &__left {
         &::after {
            //right: none;
            //top: none;
            //bottom: -80%;
            //left: -80%;
         }
         h2 {
            font-size: 32px;
         }
         p {
            font-size: 16px;
         }
      }
      &__right {
         gap: 16px;
         grid-template-columns: 1fr;
         grid-template-areas:
            "top"
            "bottom";
      }
      &__clock-wrapper {
         grid-template-rows: 1fr;
         grid-template-columns: 1fr 1fr;
         gap: 16px;
         grid-area: top;
      }
      &__progress {
         grid-area: bottom;
         aspect-ratio: 1/1;
      }
   }
}
.react-clock {
   width: 100% !important;
   height: 100% !important;
   z-index: 2;
   &__face {
      position: relative;
      border: 0 !important;
      width: 100%;
      transition: var(--elastic-s) !important;
      height: 100%;
   }

   &__mark {
      &__body {
         display: none;
      }
   }
   &__hand {
      transition: var(--elastic-s) !important;
      &__body {
         width: 10px !important;
         background-color: var(--accent-d) !important;
         border-radius: 20px;
      }
      .react-clock__hour-hand__body {
         opacity: 0.5;
      }
      &.react-clock__second-hand .react-clock__second-hand__body {
         width: 10px !important;
         position: relative;
         transition: var(--elastic-s) !important;

         &::after {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 10px;
            height: 10px;
            background-color: var(--green-d);
            border-radius: 50%;
            box-shadow: 0 0 4px rgba(255, 200, 220, 0.4);
            z-index: 2;
         }
      }
   }
}

.intro__progress {
   border-radius: 35px;
   padding: 25px;
   overflow: hidden;
   position: relative;

   &::after {
      content: "";
      position: absolute;
      top: -80%;
      left: -80%;
      width: 150%;
      height: 150%;
      background: radial-gradient(
         circle,
         rgba(243, 252, 121, 0.2),
         transparent
      );
      filter: blur(40px);
      pointer-events: none;
   }
   h2 {
      font-size: 32px;
      line-height: 1;
      color: var(--white-p);
      font-family: "Clash Display";
      font-weight: 500;
      z-index: 2;
   }
   span {
      position: absolute;
      padding: 7px 14px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 25px;
      background: var(--accent-t);
      color: var(--accent-l);
      right: 16px;
      bottom: 16px;
   }

   > div {
      min-width: 100%;
      min-height: calc(100% - 50px);
      position: relative;
      .CircularProgressbar {
         z-index: 2;
         // SVG wrapper-ul
         position: absolute;
         top: 0;
         left: 0;
         object-fit: contain;
         width: 100%;
         padding: 20px;
         height: 100%;

         &-trail {
            // path gri
            stroke: #00000000 !important;
         }

         &-path {
            // path colorat (progres)
            stroke: var(--accent-l) !important;
         }

         &-text {
            // textul procentual (ex: 68%)
            fill: var(--white-s) !important;
            font-size: 16px !important;
            width: 10px !important;
         }
         &._out {
            transform: scaleX(-1) rotate(14deg);
            .CircularProgressbar-path {
               stroke: var(--black-p) !important;
            }
         }
      }

      > div {
         margin-top: 10px;
         text-align: center;
         font-size: 14px;
         // textul "Lec»õii finalizate"
      }
   }
}

.modules {
   width: 100%;
   display: grid;
   gap: 20px;
   padding: 24px 24px 0 24px;
   grid-template-columns: 1fr 1fr;
   height: 400px;
}

.history {
   border-radius: 35px;
   padding: 0 12px;
   overflow: hidden;
   position: relative;
   background: var(--black-s);
   z-index: 0;
   display: flex;
   flex-direction: column;
   height: 100%;
   &::after {
      content: "";
      position: absolute;
      top: -80%;
      right: -80%;
      width: 150%;
      height: 150%;
      background: radial-gradient(
         circle,
         rgba(243, 252, 121, 0.2),
         transparent
      );
      filter: blur(40px);
      pointer-events: none;
   }
   &__header {
      padding: 12px 0 0px 12px;
      display: flex;
      justify-content: space-between;
      z-index: 20;
   }

   button {
      background: var(--black-p);
      color: var(--white-s);
      border-radius: 25px;
      padding: 14px 20px;
      transition: var(--classic-s);
      z-index: 2;
      position: relative;
      width: auto;
      &:hover {
         transition: all var(--elastic-s), background var(--classic-s);
         color: var(--accent-l);
         border-radius: 16px;
         padding: 14px 22px;
      }
      &:active {
         transition: all var(--elastic-s), background var(--classic-s);
         transform: scale(0.95);
         padding: 14px 20px;
         border-radius: 32px;
      }
   }
   h2 {
      padding: 8px 0 0 0px;
      font-size: 32px;
      line-height: 1;
      color: var(--white-p);
      font-family: "Clash Display";
      font-weight: 500;
      position: relative;
      z-index: 2;
      flex-shrink: 0;
   }

   &__grid-wrapper {
      z-index: 2;
      position: relative;
      height: 100%;
      overflow: hidden;
      position: relative;
      margin-top: -12px;
      flex-grow: 1;
   }

   &__grid {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow-y: auto;
      display: grid;
      padding-top: 24px;
      padding-bottom: 12px;
      mask-image: linear-gradient(
         to top,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         #000,
         rgba(0, 0, 0, 0)
      );
      &::-webkit-scrollbar {
         display: none;
      }
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: min-content;
      gap: 6px;
   }

   &__item {
      border-radius: 22px;
      background: var(--black-p);
      display: flex;
      justify-content: space-between;
      position: relative;

      &-left {
         display: flex;
         flex-direction: column;
         padding: 12px 12px 48px 16px;
      }
      &-right {
         padding: 6px;
      }

      h3 {
         color: var(--white-p);
      }
      p {
         color: var(--white-s);
      }
      span {
         color: var(--white-s);
         display: flex;
         align-items: center;
         position: absolute;
         bottom: 12px;
         left: 16px;
         gap: 3px;
         font-size: 12px;
      }

      &-icon {
         background: var(--black-s);
         //color: var(--white-s);
         border-radius: 16px;
         padding: 6px;
         //transition: var(--classic-s);
         //font-weight: 500;
         div {
            display: flex;
            align-items: center;
            justify-content: center;
         }
         svg {
            height: 20px;
            width: 20px;
         }
         &.completed {
            color: #0d3700;
            background: #9cf680;
         }

         &.cancelled {
            color: hsl(0, 100%, 13%);
            background: hsl(0, 87%, 73%);
         }

         &.pending {
            color: hsl(35, 87%, 13%);
            background: hsl(35, 94%, 73%);
         }
      }
   }

   &__reschedule-info {
      font-size: 0.85rem;
      margin-top: 6px;
      color: #333;
   }
}
