.popup-panel {
   &__inner {
      flex: 1;
      padding-right: 6px;
      overflow-y: auto;
      scrollbar-width: thin; // Firefox
      scrollbar-color: white transparent; // Firefox

      &::-webkit-scrollbar {
         width: 6px; // subțire
      }

      &::-webkit-scrollbar-track {
         background: transparent;
      }

      &::-webkit-scrollbar-thumb {
         border-radius: 8px;
      }
   }

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
   }

   &__title {
      font-size: 32px;
      line-height: 0.8;
      color: var(--white-p);
      font-family: "Clash Display";
      font-weight: 500;
      z-index: 2;
   }

   &__close {
      position: absolute;
      top: 12px;
      right: 12px;
      background: var(--black-s);
      color: var(--white-s);
      border-radius: 25px;
      padding: 14px 20px;
      transition: var(--classic-s);
      z-index: 2;
      width: auto;
      cursor: pointer;
      svg {
         rotate: 45deg;
      }
      &:hover {
         transition: all var(--elastic-s), background var(--classic-s);
         color: var(--accent-l);
         border-radius: 16px;
         padding: 14px 22px;
      }
      &:active {
         transition: all var(--elastic-s), background var(--classic-s);
         transform: scale(0.95);
         padding: 14px 20px;
         border-radius: 32px;
      }
   }
   &__content {
      ul {
         display: grid;
         gap: 0 20px;
         grid-template-columns: 1fr 1fr;
      }
      li {
         padding: 20px;
         background: var(--black-s);
         border-radius: 20px;
         color: var(--white-p);
      }
   }
}

.popup-panel {
   position: fixed;
   top: 6px;
   left: 6px;
   width: 100%;
   min-width: 500px;
   background-color: var(--black-p);
   z-index: 10000;
   padding: 25px 19px 25px 25px;
   display: flex;
   flex-direction: column;
   height: calc(100vh - 12px);
   border-radius: 35px;
   opacity: 0;
   transform: translateX(-100%);
   transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1);
   &__overlay {
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 9999;
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: opacity 0.4s ease;
      pointer-events: none;
   }
}

/* Când e activ */
body.popup-open .popup-panel {
   transform: translateX(0%);
   opacity: 1;
}

body.popup-open .popup-panel__overlay {
   opacity: 1;
   pointer-events: auto;
}
