.popup-panel {
   position: fixed;
   bottom: 6px;
   left: 6px;
   width: 100%;
   min-width: 500px;
   background-color: var(--black-s);
   z-index: 10000;
   padding: 25px 25px 0 25px;
   display: flex;
   flex-direction: column;
   height: calc(100svh - 12px);
   border-radius: 35px;
   opacity: 0;
   transform: translateX(-100%);
   transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1);
   overflow: hidden;
   &__overlay {
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: -1;
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: opacity 0.4s ease;
      pointer-events: none;
   }
   &::after {
      content: "";
      position: absolute;
      top: -80%;
      left: -80%;
      width: 150%;
      height: 150%;
      background: radial-gradient(
         circle,
         rgba(243, 252, 121, 0.1),
         transparent
      );
      filter: blur(40px);
      pointer-events: none;
      z-index: 0;
   }
   &__inner {
      z-index: 10000;
      flex: 1;
      overflow: auto;
      &::-webkit-scrollbar {
         display: none !important;
      }
      width: 100%;
   }

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
   }

   &__title {
      font-size: 32px;
      line-height: 0.8;
      color: var(--white-p);
      font-family: "Clash Display";
      font-weight: 500;
      z-index: 22;
   }

   &__close {
      position: absolute;
      top: 12px;
      right: 12px;
      background: var(--black-p);
      color: var(--white-s);
      border-radius: 25px;
      padding: 14px 20px;
      transition: var(--classic-s);
      width: auto;
      cursor: pointer;
      z-index: 999999;
      pointer-events: all;
      svg {
         rotate: 45deg;
      }
      &:hover {
         transition: all var(--elastic-s), background var(--classic-s);
         color: var(--accent-l);
         border-radius: 16px;
         padding: 14px 22px;
      }
      &:active {
         transition: all var(--elastic-s), background var(--classic-s);
         transform: scale(0.95);
         padding: 14px 20px;
         border-radius: 32px;
      }
   }
}

/* Când e activ */
body.popup-open .popup-panel {
   transform: translateX(0%);
   opacity: 1;
}

body.popup-open .popup-panel__overlay {
   opacity: 1;
   pointer-events: auto;
}
@media only screen and (max-width: $tablet) {
   .popup-panel {
      min-width: 500px;
      width: calc(50% - 12px);
      pointer-events: all;
   }
}
@media only screen and (max-width: $mobile) {
   .popup-panel {
      min-width: auto;
      padding: 20px 20px 0 20px;
      width: calc(100% - 12px);
      pointer-events: all;
      align-items: center;
      justify-content: center;
      &__title {
         font-size: 24px;
      }
      &__header {
         margin-bottom: 20px;
      }
   }
}
