.sign {
   display: flex;
   padding: 6px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   //gap: 20px;
   background: var(--black-p);
   border-radius: 36px;
   width: 100%;
   position: relative;
   &.termeni-conditii {
      grid-template-columns: 1fr;
      padding: 0;
      &::-webkit-scrollbar {
         display: none;
      }
   }
   &__conditii {
      height: 100%;
      max-height: 80svh;
      padding: 24px;
      overflow: auto;
      &-body {
         padding: 0 0 20px 0;
         display: flex;
         flex-direction: column;
      }
      &::-webkit-scrollbar {
         display: none;
      }
      -webkit-mask-image: linear-gradient(
         to top,
         transparent 0,
         black 24px,
         black calc(100% - 24px),
         transparent 100%
      );
      mask-image: linear-gradient(
         to top,
         transparent 0,
         black 24px,
         black calc(100% - 24px),
         transparent 100%
      );
      h3 {
         color: var(--white-s);
      }
      ul {
         list-style: square;
      }
      li,
      p {
         color: var(--white-p);
         opacity: 0.6;
         padding: 0 16px;
      }
   }
   &__left {
      background-image: url("../assets/img/car-instruire-auto.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 30px;
      display: flex;
      align-items: flex-start;
      padding: 6px;
   }
   &__img-btn {
      background: var(--accent-d);
   }
   &__img-btn.accent:hover {
      border-radius: 26px;
      padding: 8px 12px;
      background: var(--accent-l);
      span,
      svg {
         color: var(--accent-d);
      }
   }
   &__right {
      flex: 1;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &__title {
      font-family: "Clash Display";
      line-height: 0.8;
      font-size: 48px;
      font-weight: 500;
      color: var(--accent-l);
   }
   &__subtitle {
      font-size: 16px;
      padding-top: 4px;
      color: var(--white-t);
   }

   &__form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px 0 0 0;
   }
   &__form-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
   }
   &__input-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
   }

   &__eye-btn {
      cursor: pointer;
      position: absolute;
      right: 0px;
      padding: 4px 10px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
         display: flex;
         align-items: center;
         justify-content: center;
      }
      svg {
         color: var(--white-s);
         width: 28px;
         height: 28px;
      }
   }
   &__input {
      padding: 15px 18px;
      border-radius: 16px;
      border: none;
      background-color: var(--black-s);
      color: var(--white-s);
      font-size: 1rem;
      width: 100%;
      &.enroll {
         border-radius: 10px 16px 16px 16px;
         padding: 20px 18px 10px 18px;
         min-width: 48px;
         height: 48px;
         width: 100%;
         flex: 1 1;
      }
   }
   input.sign__input[type="date"],
   input.sign__input[type="time"],
   input.sign__input[type="datetime-local"] {
      -webkit-appearance: auto;
      appearance: auto;
      display: block;
      cursor: pointer;
      width: 100%;
      padding: 20px 18px 10px 18px;
      height: 48px; 
      min-height: 48px;
   }
   select.sign__input {
      display: block;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 20px 18px 10px 18px;
      height: 48px;
   }
   .sign__form-row {
      align-items: stretch;
   }
   &__info-box {
      padding: 15px 18px;
      border-radius: 16px;
      border: none;
      background-color: var(--black-s);
      color: var(--white-s);
      font-size: 1rem;
      width: 100%;
   }
   &__row-btns {
      display: flex;
      justify-content: center;
      gap: 6px;
   }
   &__button {
      background: var(--accent-d);
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      border-radius: 32px;
      font-weight: 500;
      gap: 0px;
      transition: var(--classic-s);
      span {
         padding: 7px 0 7px 14px;
         color: var(--accent-l);
         transition: var(--classic-f);
      }
      svg {
         transition: var(--classic-f);
      }
      &:hover {
         transition: var(--elastic-s);
         background: var(--accent-l);
         border-radius: 16px;
         padding: 8px 12px;
         gap: 2px;
         transform: translateX(2px);
         span {
            color: var(--accent-d);
         }
         svg {
            color: var(--accent-d);
         }
      }
      &:active {
         border-radius: 32px;
         transition: var(--elastic-s);
         background: var(--accent-l);
         padding: 8px;
         transform: translateX(0px) scale(0.95);

         span {
            color: var(--accent-d);
         }
         svg {
            color: var(--accent-d);
         }
      }
   }
   &__button-icon {
      rotate: 180deg;
   }

   &__icon {
      color: var(--accent-l);
      div {
         display: grid;
         place-items: center;
      }
   }
   &__hr {
      display: flex;
      justify-content: center;
      padding: 20px;
      margin-right: -6px;
   }
   &__icon-wave {
      margin-left: -6px;
      color: var(--black-s);
   }
   &__links {
      display: flex;
      justify-content: center;
      gap: 6px;
   }
   &__field {
      width: 100%;
      position: relative;
      //background: #000;
      display: flex;
   }
   &__label {
      color: var(--white-t);
      position: absolute;
      top: 4px;
      left: 8px;
      font-size: 10px;
   }

   &__switcher {
      position: relative;
      min-height: 266px;
      transition: var(--elastic-s);
      &.active {
         min-height: 394px;
      }
      &.reset {
         min-height: 350px;
         .sign__subtitle {
            display: block;
         }
      }
      &.etapa1 {
         min-height: 300px;
         .sign__form {
            padding: 0;
         }
      }
      &.etapa2 {
         min-height: 300px;
         .sign__form {
            padding: 0;
         }
      }
      &.etapa3 {
         min-height: 270px;
         .sign__form {
            padding: 0;
         }
      }
   }
   &__steps-wrapper {
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__step-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 32px;
      padding: 6px;
      gap: 6px;
   }
   &__step-connector {
      width: 0px;
      height: 25px;
      background: var(--black-s);
      transition: var(--elastic-f);
      margin: -4px;
      border-radius: 5px;
      &.is-active {
         margin: 0;
         width: 4px;
         background: var(--accent-l);
      }
   }
   &__step-button {
      height: 45px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--black-s);
      color: var(--white-p);
      border-radius: 32px;
      font-size: 16px;
      transition: all var(--elastic-f), background var(--classic-f);
      &:nth-child(3) {
         border-radius: 32px 8px 8px 32px;
      }
      &:nth-child(5) {
         border-radius: 8px 32px 32px 8px;
      }

      &.is-current {
         color: var(--accent-d);
         background: var(--accent-l);
      }
      &:nth-child(1).is-current {
         border-radius: 32px;
      }
      &:nth-child(3).is-current {
         border-radius: 8px 32px 32px 8px;
      }
      &:nth-child(5).is-current {
         border-radius: 8px 32px 32px 8px;
      }

      &.is-done {
         color: var(--accent-d);
         background: var(--accent-l);
      }
      &:nth-child(1).is-done {
         border-radius: 32px 8px 8px 32px;
         opacity: 0.6;
      }
      &:nth-child(3).is-done {
         opacity: 0.6;
         border-radius: 8px;
      }
      &:hover {
      }
      &:active {
         width: 55px;
         transition: all var(--elastic-s);
         border-radius: 32px !important   ;
         scale: 0.9;
      }
   }
   .sign__step-buttons
      .sign__step-button:nth-child(3).is-current
      + .sign__step-connector
      + .sign__step-button {
      border-radius: 32px;
   }
   //

   &__form-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: all 0.4s ease;
      opacity: 0;
      transform: scaleX(0.96);
      filter: blur(10px);
      pointer-events: none;
   }

   &__form--active {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
      z-index: 2;
      filter: blur(0px);
   }

   &__form--leave {
      z-index: 1;
      opacity: 0;
      transform: scaleX(0.96);
   }
   &__link-button {
      background: var(--black-s);
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 32px;
      cursor: pointer;
      gap: 0px;
      transition: var(--classic-f);
      font-weight: 500;
      .sign__icon-inline > div {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      span {
         padding: 7px 14px 7px 0;
         color: var(--accent-l); // implicit
         transition: var(--classic-f);
      }
      svg {
         transition: var(--classic-f);
         transition: var(--elastic-s);
         color: var(--accent-l);
      }
      &.arrow:hover svg {
         transform: rotate(00deg);
      }

      &:hover {
         transition: var(--elastic-s);
         border-radius: 16px;
         padding: 8px 10px;
         gap: 2px;
         svg {
            transition: var(--elastic-s);
            transform: rotate(360deg);
         }
      }

      &:active {
         transform: scale(0.95);
         border-radius: 32px;
         padding: 8px;
         gap: 0;
         transition: var(--elastic-s);
         svg {
            transition: var(--elastic-s);
            transform: rotate(460deg);
         }
      }
   }

   &__terms {
   }
   &__checkbox {
      display: flex;
      align-items: flex-start;
      font-size: 14px;
      line-height: 1.35;
      user-select: none;
      gap: 6px;
      color: var(--white-s);
      padding: 6px 12px;
   }

   /* checkbox custom */
   &__checkbox input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      flex: 0 0 20px;
      border: 2px solid var(--accent-l);
      border-radius: 16px;
      background: var(--black-s);
      display: grid;
      place-content: center;
      transition: 0.2s ease;
      cursor: pointer;
   }

   /* hover / active / focus */
   &__checkbox input[type="checkbox"]:hover {
      scale: 1.1;
   }
   &__checkbox input[type="checkbox"]:active {
      scale: 0.9;
   }

   /* checked — bifa albă SVG centrată */
   &__checkbox input[type="checkbox"]:checked {
      background-color: var(--accent-l);
      border-color: var(--accent-l);
      background-image: var(--background-image);
      color: var(--accent-d);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 14px 14px;
   }

   /* link-urile din text */
   &__checkbox a {
      color: var(--accent-l);
      text-decoration: underline;
   }

   /* butonul de submit când e dezactivat */
   &__button[disabled] {
      opacity: 0.5;
      filter: grayscale(100%);
      pointer-events: none;
      cursor: not-allowed;
   }
}
:root {
   --background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 20 20' fill='none' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'><polyline points='4,11 8,15 16,6'/></svg>");
   --flter: invert(1) brightness(1.8);
}
.darkmode {
   --flter: invert(0) brightness(1);
   --background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 20 20' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'><polyline points='4,11 8,15 16,6'/></svg>");
}
.sign__input[type="date"]::-webkit-calendar-picker-indicator {
   filter: var(--flter);
   opacity: 1;
   cursor: pointer;
}
.M3Link {
   background: var(--black-s);
   padding: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 32px;
   cursor: pointer;
   transition: var(--classic-s);
   gap: 0px;
   font-weight: 500;

   span {
      padding: 7px 14px 7px 0;
      color: var(--accent-l); // implicit
      transition: var(--classic-f);
   }
   svg {
      transition: var(--classic-f);
   }

   &.accent {
      &:hover {
         transition: var(--elastic-s);
         background: var(--accent-d);
         border-radius: 16px;
         padding: 8px 10px;
         gap: 2px;

         svg,
         span {
            color: var(--accent-l);
         }
      }
   }

   &.succes {
      &:hover {
         transition: var(--elastic-s);
         background: var(--green-d);
         border-radius: 16px;
         padding: 8px 10px;
         gap: 2px;

         svg,
         span {
            color: var(--green-l);
         }
      }
   }

   &.error {
      &:hover {
         transition: var(--elastic-s);
         background: var(--red-d);
         border-radius: 16px;
         padding: 8px 10px;
         gap: 2px;

         svg,
         span {
            color: var(--red-l);
         }
      }
   }

   &.reset {
      background: #00000000;
      &:hover {
         transition: all var(--elastic-s), background var(--classic-s);
         background: var(--black-s);
         border-radius: 16px;
         padding: 8px 10px;
         gap: 2px;
      }
   }

   &.accent,
   &.succes,
   &.error,
   &.reset {
      &:active {
         transform: scale(0.95);
         border-radius: 32px;
         padding: 8px;
         gap: 0;
         transition: var(--elastic-s);
      }
   }
}

@media (max-width: $tablet) {
   .sign {
      padding: 6px;
      grid-template-columns: 1fr;
      &__conditii {
         height: 100%;
         max-height: 80svh;
         padding: 24px;
         overflow: auto;
         &-body {
            display: flex;
            flex-direction: column;
         }
         &::-webkit-scrollbar {
            display: none;
         }
         -webkit-mask-image: linear-gradient(
            to top,
            transparent 0,
            black 24px,
            black calc(100% - 24px),
            transparent 100%
         );
         mask-image: linear-gradient(
            to top,
            transparent 0,
            black 24px,
            black calc(100% - 24px),
            transparent 100%
         );
         h1 {
            padding: 0px;
         }
         h3 {
            color: var(--white-s);
            display: block;
            padding: 0;
         }
         ul {
            list-style: square;
         }
         li,
         p {
            color: var(--white-p);
            opacity: 0.6;
            padding: 0 16px;
         }
      }
      &__left {
         display: none;
      }
      &__switcher {
         position: relative;
         min-height: 266px;
         transition: var(--elastic-s);
         &.active {
            min-height: 380px;
         }
         &.reset {
            min-height: 310px;
            .sign__subtitle {
               display: block;
            }
         }
         &.etapa1 {
            min-height: 290px;
            .sign__form {
               padding: 0;
            }
         }
         &.etapa2 {
            min-height: 290px;
            .sign__form {
               padding: 0;
            }
         }
         &.etapa3 {
            min-height: 250px;
            .sign__form {
               padding: 0;
            }
         }
      }
   }
}

@media (max-width: $mobile) {
   .sign {
      display: flex;
      position: inherit;
      &__right {
         flex: 1;
         width: 100%;
         padding: 10px 10px 20px 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
      .header__settings {
         z-index: 100;
      }
      &__title {
         font-size: 28px;
         padding: 8px 8px 0 8px;
      }
      &__subtitle {
         font-size: 14px;
         padding: 4px 48px 0 8px;
      }
      &__form {
         gap: 6px;
         padding: 10px 0 0 0;
      }
      &__form-row {
         display: flex;
         gap: 6px;
         &:nth-child(1),
         &:nth-child(3) {
            flex-direction: column;
         }
      }
      &__row-btns {
         flex-wrap: wrap;
         padding-top: 4px;
      }
      &__icon-wave {
         &:nth-child(3) {
            display: none;
         }
      }

      &__links {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 6px;
      }
      &__switcher {
         min-height: 250px;

         &.active {
            min-height: 420px;
            .sign__subtitle {
               display: none;
            }
         }
         &.reset {
            min-height: 350px;
            .sign__subtitle {
               display: block;
            }
         }
         &.etapa1 {
            min-height: 380px;
            .sign__form {
               padding: 0;
            }
         }
         &.etapa2 {
            min-height: 380px;
            .sign__form {
               padding: 0;
            }
         }
         &.etapa3 {
            min-height: 330px;
            .sign__form {
               padding: 0;
            }
         }
      }

      &__form-wrapper {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         transition: all 0.4s ease;
         opacity: 0;
         transform: scaleX(0.96);
         filter: blur(10px);
         pointer-events: none;
      }

      &__form--active {
         opacity: 1;
         transform: scale(1);
         pointer-events: auto;
         z-index: 2;
         filter: blur(0px);
      }

      &__form--leave {
         z-index: 1;
         opacity: 0;
         transform: scaleX(0.96);
      }

      &__link-button {
         background: var(--black-s);
         padding: 8px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 32px;
         cursor: pointer;
         gap: 0px;
         transition: var(--classic-f);
         font-weight: 500;
         .sign__icon-inline > div {
            display: flex;
            justify-content: center;
            align-items: center;
         }
         span {
            padding: 7px 14px 7px 0;
            color: var(--accent-l); // implicit
            transition: var(--classic-f);
         }
         svg {
            transition: var(--classic-f);
            transition: var(--elastic-s);
            color: var(--accent-l);
         }
         &.arrow:hover svg {
            transform: rotate(00deg);
         }

         &:hover {
            transition: var(--elastic-s);
            border-radius: 16px;
            padding: 8px 10px;
            gap: 2px;
            svg {
               transition: var(--elastic-s);
               transform: rotate(360deg);
            }
         }

         &:active {
            transform: scale(0.95);
            border-radius: 32px;
            padding: 8px;
            gap: 0;
            transition: var(--elastic-s);
            svg {
               transition: var(--elastic-s);
               transform: rotate(460deg);
            }
         }
      }
   }
}
@media (max-width: 355px) {
   .sign {
      &__subtitle {
         display: none;
      }
      &__switcher {
         min-height: 260px;
         &.active {
            min-height: 440px;
         }
         &.reset {
            min-height: 350px;
            .sign__subtitle {
               display: block;
            }
         }
      }
   }
}
