
.M3Link {
   background: var(--black-s);
   padding: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 32px;
   cursor: pointer;
   transition: var(--classic-s);
   gap: 0px;
   font-weight: 500;

   span {
      padding: 7px 14px 7px 0;
      color: var(--accent-l); // implicit
      transition: var(--classic-f);
   }
   svg {
      transition: var(--classic-f);
   }

   &.accent {
      &:hover {
         transition: var(--elastic-s);
         background: var(--accent-d);
         border-radius: 16px;
         padding: 8px 10px;
         gap: 2px;

         svg,
         span {
            color: var(--accent-l);
         }
      }
   }

   &.succes {
      &:hover {
         transition: var(--elastic-s);
         background: var(--green-d);
         border-radius: 16px;
         padding: 8px 10px;
         gap: 2px;

         svg,
         span {
            color: var(--green-l);
         }
      }
   }

   &.error {
      &:hover {
         transition: var(--elastic-s);
         background: var(--red-d);
         border-radius: 16px;
         padding: 8px 10px;
         gap: 2px;

         svg,
         span {
            color: var(--red-l);
         }
      }
   }

   &.reset {
      background: #00000000;
      &:hover {
         transition: all var(--elastic-s), background var(--classic-s);
         background: var(--black-s);
         border-radius: 16px;
         padding: 8px 10px;
         gap: 2px;
      }
   }

   &.accent,
   &.succes,
   &.error,
   &.reset {
      &:active {
         transform: scale(0.95);
         border-radius: 32px;
         padding: 8px;
         gap: 0;
         transition: var(--elastic-s);
      }
   }
}
