// title
.title {
   font-size: 30px;
   font-weight: 800;
   color: var(--white-p);
   padding: 8px;
   line-height: 1.1;
}

// lazy loading
.LazyLoad {
   opacity: 0;
   transition: opacity 1s ease-in-out;
}
.is-visible {
   opacity: 1;
}

.react-icon {
   div {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

.highlight {
   background-color: var(--accent-d);
   border-radius: 6px;
   font-style: normal;
   //display: inline-block;
   //padding: 0 4px;
}
.instructors-popup__radio-wrapper.addprog{
   &.active-botanica {
      &::before {
         background: var(--black-p);
      }
   }
   &.active-ciocana {
      &::before {
         background: var(--black-p);
      }
   }
   &.inacative {
      opacity: 0.5;
      cursor: not-allowed;
      label {
         cursor: not-allowed;
         pointer-events: none;
      }
   }
}