// title
.title {
   font-size: 30px;
   font-weight: 800;
   color: var(--white-p);
   padding: 8px;
   line-height: 1.1;
}

// lazy loading
.LazyLoad {
   opacity: 0;
   transition: opacity 1s ease-in-out;
}
.is-visible {
   opacity: 1;
}

.react-icon {
   div {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

.highlight {
   background-color: var(--accent-l);
   color: var(--accent-d);
   //background-color:#e6f680;
   border-radius: 4px;
   font-style: normal;
   //display: inline-block;
   //padding: 0 4px;
}
.instructors-popup__radio-wrapper.addprog {
   &.active-botanica {
      &::before {
         background: var(--black-p);
      }
   }
   &.active-ciocana {
      &::before {
         background: var(--black-p);
      }
   }
   &.inacative {
      opacity: 0.5;
      cursor: not-allowed;
      label {
         cursor: not-allowed;
         pointer-events: none;
      }
   }
}
/* poziționare în colțul dreapta-sus în zona de conținut */
.pillstack {
   position: fixed; /* sau absolute în container, după preferință */
   top: 16px;
   right: 16px;
   left: 16px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 8px;
   z-index: 1000;
   margin: 0 auto;
}
/* containerul, dacă vrei peste tot conținutul */
.pillstack {
   position: fixed;
   top: 16px;
   right: 16px;
   z-index: 9999;
   pointer-events: none;
}

/* bază */
.pill {
   display: flex;
   pointer-events: all;
   align-items: center;
   padding: 15px 18px;
   border-radius: 32px;
   text-align: center;
   line-height: 1.2;
   backdrop-filter: blur(6px);
   cursor: pointer;

   /* inițializare transform/opacity + tranziții (cu fallback dacă nu ai var) */
   transform: translateY(0);
   opacity: 1;
   transition: var(
      --elastic-s,
      transform 420ms cubic-bezier(0.22, 1, 0.36, 1),
      opacity 300ms ease
   );

   &:hover {
      padding: 15px 20px;
   }
   &:active {
      border-radius: 32px;
      scale: 0.95;
   }

   /* starea de ieșire */
   &.pill--leaving {
      transform: translateY(-200%);
      opacity: 0;
      pointer-events: none;
   }

   &--info {
      background: #80d1f6;
      color: #002c41;
   }
   &--success {
      background: #9cf680;
      color: #0d3700;
   }
   &--warning {
      background: hsl(35, 87%, 73%);
      color: hsl(35, 100%, 13%);
   }
   &--error {
      background: #f68080;
      color: #410000;
   }
   &__text {
      flex: 1;
      word-break: break-word;
   }
}

/* (opțional) accesibilitate: dezactivează animațiile dacă userul preferă reduce motion */
@media (prefers-reduced-motion: reduce) {
   .pill {
      transition: none;
   }
}
